{# src/TimeTM/CalendarBundle/Resources/views/Month/container.html.twig #}

{% include 'TimeTMCalendarBundle:Month:monthPanel.html.twig' %}

<section id="content" class="{% block contentClass %}{% endblock %}">
	{% include 'TimeTMEventBundle:Event:' ~ template ~ '.html.twig' %}
</section>