{# src/TimeTM/CalendarBundle/Resources/views/Week/container.html.twig #}

{% include 'TimeTMCoreBundle:Calendar:Week/weekPanel.html.twig' %}

<section id="content" class="{% block contentClass %}{% endblock %}">
	{% include 'TimeTMCoreBundle:Calendar:Week/content.html.twig' %}
</section>
