{# src/TimeTM/CalendarBundle/Resources/views/Week/content.html.twig #}
<table class="outer">
	<tr>
		<td width="5%">

			<table class="innerLabel">
				<tr>
					<td>
						&nbsp;
					</td>
				</tr>
			{% for time in times %}
				<tr>
					<td>
						{{ time.time }}
					</td>
				</tr>
			{% endfor %}
			</table>

		</td>
	
	
		{% for weekDate in weekDates %}
		<td width="14%">
		
			<table class="inner" id="MonthCal">
			<tr>
				<td>
					{{ weekDate }}
				</td>
			</tr>
			
			{% for time in times %}
			<tr>
				<td data-url="{{ weekDate }}/{{ time.timestamp }}">
					
				</td>
			</tr>
			{% endfor %}
			</table>
		
		</td>
		{% endfor %}
	<tr>
</table>
