{# src/TimeTM/CalendarBundle/Resources/views/Week/week.html.twig #}
{% extends 'TimeTMCoreBundle:Calendar:calendar.html.twig' %}

{% block title %} {{ parent() }} {{ 'nav.week'|trans }} {{ WeekStamp }} {% endblock %}

{% block calendarContent %}
<section id="ttm_calendarContainer">
	{% include 'TimeTMCoreBundle:Calendar:Week/container.html.twig' %}
</section>
{% endblock %}
