<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title> Lookin2 - {% block title %}Dashboard{% endblock %}</title>
  {% block stylesheets %}
	<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
  {% block body %}

  {% endblock %}
  {% block javascripts %}{% endblock %}
</body>
</html>
