<td class="times">
	<table class="timeLabel fixed">
		<tr>
			<td>
				&nbsp;
			</td>
		</tr>
{% for time in times %}
		<tr>
			<td>
				{{ time.time }}
			</td>
		</tr>
{% endfor %}
	</table>
</td>
