{# src/TimeTM/CalendarBundle/Resources/views/Day/container.html.twig #}

{% include 'TimeTMCalendarBundle:Day:dayPanel.html.twig' %}

<section id="content" class="{% block contentClass %}{% endblock %}">
	{% include 'TimeTMCalendarBundle:Day:content.html.twig' %}
</section>
