{# src/TimeTM/CalendarBundle/Resources/views/Month/container.html.twig #}

{% include 'TimeTMCoreBundle:Calendar:Month/monthPanel.html.twig' %}

<section id="ttm_contentWithPanel" class="{% block contentClass %}{% endblock %}">
	{% include 'TimeTMCoreBundle:Calendar:Month/content.html.twig' %}
</section>
