{# src/TimeTM/CalendarBundle/Resources/views/Default/month.html.twig #}
{% extends 'TimeTMCoreBundle:Calendar:calendar.html.twig' %}

{% block calendarContent %}
<section id="calendarContainer">
	{% include 'TimeTMCoreBundle:Calendar:Month/container.html.twig' %}
</section>
{% endblock %}
