
<h2>select agenda</h2>

<div class="controls">

<form id="agendaSwitch" name="form" method="POST" action="/agenda/switch">

{{ form_widget(form.agenda,  { 'attr': {'class': 'agendaSwitch'} }) }}

{{ form_end(form) }}
</form>
</div>
