
<h2>select agenda</h2>

<div class="controls form">

    <form id="agendaSwitch" name="form" method="POST" action="/agenda/switch">
    <table class="expand">
        <tr>
            <td>
    {{ form_widget(form.agenda,  { 'attr': {'class': 'agendaSwitch'} }) }}
            </td>
        </tr>
    </table>
    {{ form_widget(form._token) }}
    </form>

</div>
