{# src/TimeTM/CalendarBundle/Resources/views/Week/container.html.twig #}

{% include 'TimeTMCalendarBundle:Week:weekPanel.html.twig' %}

<section id="content" class="{% block contentClass %}{% endblock %}">
	{% include 'TimeTMCalendarBundle:Week:content.html.twig' %}
</section>
