{# src/TimeTM/CalendarBundle/Resources/views/Day/container.html.twig #}

{% include 'TimeTMCoreBundle:Calendar:Day/dayPanel.html.twig' %}

<section id="contentWithPanel" class="{% block contentClass %}{% endblock %}">
	{% include 'TimeTMCoreBundle:Calendar:Day/content.html.twig' %}
</section>
