{# src/TimeTM/CalendarBundle/Resources/views/Day/day.html.twig #}
{% extends 'TimeTMCoreBundle:Calendar:calendar.html.twig' %}

{% block calendarContent %}
<section id="calendarContainer">
	{% include 'TimeTMCoreBundle:Calendar:Day/container.html.twig' %}
</section>
{% endblock %}
