{# src/Lookin2/CalendarBundle/Resources/views/Week/content.html.twig #}
<table class="test">
	<tr>
		<td width="5%">
<table width="100%">
{% for time in times %}
<tr>
	<td>
		{{ time }}
	</td>
</tr>
{% endfor %}
</table>
		</td>
	
	
	
	
		{% for weekDate in weekDates %}
		<td width="14%">
		
<table width="100%">
{% for time in times %}
<tr>
	<td>
		l
	</td>
</tr>
{% endfor %}
</table>
		
		</td>
		{% endfor %}
	<tr>
</table>