{% extends '::base.html.twig' %}

{% block mainContent -%}
    <h1>Agenda creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('agenda') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
