/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* line 7, ../sass/calendar.scss */
#calendar {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 1px;
}

/* line 16, ../sass/calendar.scss */
#calendar td {
  vertical-align: top;
  /*     padding :        3px; */
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  background: rgba(255, 255, 255, 0.2);
  height: 100%;
  cursor: pointer;
  /*   @include border-radius(6px); */
}

/* line 27, ../sass/calendar.scss */
#calendar td.outOfMonth {
  color: #aaa;
  background: rgba(255, 255, 255, 0.1);
  cursor: default;
}

/* line 33, ../sass/calendar.scss */
#calendar a.inner {
  display: inline-block;
  border: 1px solid red;
  width: 100%;
}

/* line 39, ../sass/calendar.scss */
#calendar a.inner span {
  display: inline-block;
  padding: 2px 5px;
}

/* line 44, ../sass/calendar.scss */
#calendar .header {
  background: rgba(0, 0, 0, 0.1);
}

/* line 48, ../sass/calendar.scss */
#calendar .weekHeader {
  background: rgba(255, 255, 255, 0.1);
}

/* line 52, ../sass/calendar.scss */
#calendar a.cell {
  display: block;
  height: 100%;
}

/* week */
/* line 56, ../sass/calendar.scss */
table.innerLabel {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

/* line 62, ../sass/calendar.scss */
table.innerLabel td {
  text-align: right;
  padding-right: 10px;
}

/* line 67, ../sass/calendar.scss */
table.inner {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

/* line 73, ../sass/calendar.scss */
table.inner td {
  cursor: pointer;
  /*     border : 1px solid #666; */
}

/* line 78, ../sass/calendar.scss */
table.outer {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
