/* atinfo base scss */
/* COMPASS IMPORTS */
@import url(http://fonts.googleapis.com/css?family=Varela+Round|Muli);
/* line 5, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* -- FONTS -- */
/* default font */
/* -- default  colors-- */
/*
 * - COMMON -------------------------------------------------------------------
*/
/* line 15, ../sass/common.scss */
html, body {
  font-family: 'Varela Round',sans-serif;
}

/* line 19, ../sass/common.scss */
body {
  color: white;
  background-color: black;
  font-family: 'Varela Round',sans-serif;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5MTkxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #191919), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(top left, #191919, #000000);
  background-image: -webkit-linear-gradient(top left, #191919, #000000);
  background-image: linear-gradient(to bottom right, #191919, #000000);
}

/* line 32, ../sass/common.scss */
body.green {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjYwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMzMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #006600), color-stop(100%, #003300));
  background-image: -moz-linear-gradient(top left, #006600, #003300);
  background-image: -webkit-linear-gradient(top left, #006600, #003300);
  background-image: linear-gradient(to bottom right, #006600, #003300);
}

/* line 42, ../sass/common.scss */
a {
  color: white;
  font-family: 'Varela Round',sans-serif;
  text-decoration: none;
}

/* line 45, ../sass/common.scss */
.align-center {
  text-align: center;
}

/* line 46, ../sass/common.scss */
.full-width {
  width: 100%;
}

/* line 47, ../sass/common.scss */
.center {
  margin: 0 auto;
}

/* line 48, ../sass/common.scss */
.table {
  display: table;
}

/* line 49, ../sass/common.scss */
a.today {
  background-color: #900;
}

/* line 51, ../sass/common.scss */
.tableCell {
  display: table-cell;
  vertical-align: middle !important;
}

/* line 56, ../sass/common.scss */
.errorMsg {
  font-family: lucinda;
  text-align: center;
  /*     color : red; */
  font-size: 160%;
  margin: auto;
  display: table;
  padding: 0 0 15px 0;
}

/* line 67, ../sass/common.scss */
.hide {
  display: none !important;
}

/* line 71, ../sass/common.scss */
.show {
  display: block;
}

/* line 75, ../sass/common.scss */
.showForMedium {
  display: none;
}

/* line 79, ../sass/common.scss */
.showMenu {
  display: block;
  position: absolute;
  top: 40px;
  width: 100%;
}

/* line 86, ../sass/common.scss */
.showMenuItem {
  width: 100%;
  position: relative;
  z-index: 10;
  display: block;
  background-color: green;
}

/* line 94, ../sass/common.scss */
#mobileMenu {
  width: 40px;
}

/* line 98, ../sass/common.scss */
#mobileMenu i {
  font-size: 26px;
  display: block;
  width: 40px;
}

/*
 * - FORMS --------------------------------------------------------------------
*/
/* line 110, ../sass/common.scss */
#ajaxContent h1, #content h1 {
  line-height: 30px;
  text-align: center;
}

/* line 115, ../sass/common.scss */
.formError {
  text-align: center;
  font-weight: bold;
  padding: 1em 0;
}

/*
 * - PANEL --------------------------------------------------------------------
*/
/*
 *
 * - CONTENT ------------------------------------------------------------------
 *
 *
*/
/* line 135, ../sass/common.scss */
#contentWithPanel {
  font-family: 'Varela Round',sans-serif;
}

/* -- lists -- */
/* line 141, ../sass/common.scss */
.listContainer {
  margin: auto;
  width: 100%;
  font-family: 'Muli', sans-serif;
  /*     @include debug(white); */
}

/* line 148, ../sass/common.scss */
.listContainer h1 {
  text-align: center;
  padding: 10px 0;
  font-size: 140%;
  /*     @include debug(red); */
}

/* line 155, ../sass/common.scss */
.listContainer table {
  width: 100%;
  margin: auto;
  border: 1px solid red;
}

/* line 161, ../sass/common.scss */
#ajaxContent .listContainer table {
  margin: auto;
  border: 1px solid white;
}

/* line 167, ../sass/common.scss */
.listContainer table tr {
  cursor: pointer;
  height: 40px;
}

/* line 172, ../sass/common.scss */
.listContainer table tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.1);
}

/* line 174, ../sass/common.scss */
.listContainer table th {
  font-size: 120%;
}

/* line 178, ../sass/common.scss */
.listContainer table td {
  padding: 0 10px;
}

/* line 182, ../sass/common.scss */
.record_actions li {
  display: inline-block;
}

/* line 187, ../sass/common.scss */
.records_list a:hover, button:hover {
  color: #333;
}

/* line 191, ../sass/common.scss */
.records_list a.button, button {
  color: #666;
  height: 40px;
  padding: 0 15px;
  background: linear-gradient(to bottom, #ffffff 50%, #f3f3f3 50%);
  border: none;
  margin: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 0;
  font-family: 'Varela Round',sans-serif;
}

/* line 203, ../sass/common.scss */
button {
  vertical-align: middle;
  padding: 0px 5px;
}

/* line 208, ../sass/common.scss */
.records_list a.button {
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*
 * - TABLES -------------------------------------------------------------------
*/
/* line 222, ../sass/common.scss */
div.float2 {
  float: left;
  width: 49%;
  text-align: center;
  /*     @include debug(yellow); */
}

/* line 229, ../sass/common.scss */
div.floatWrapper {
  /*     @include debug(cyan); */
}

/* line 233, ../sass/common.scss */
table.fixed {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

/* line 243, ../sass/common.scss */
table.fullscreen {
  /*     @include debug(white); */
}

/*
 * - DASHBOARD ----------------------------------------------------------------
*/
/* line 252, ../sass/common.scss */
.panelWrapper {
  position: relative;
  float: left;
  width: 100%;
  height: 50%;
  /*   @include debug(white) */
}

/* line 260, ../sass/common.scss */
.panel {
  position: absolute;
  left: 0;
  right: 0;
  top: 2px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
}

/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {
  /* line 274, ../sass/common.scss */
  .showForMedium {
    display: block;
  }

  /* line 278, ../sass/common.scss */
  .showForSmall {
    display: none;
  }

  /* line 283, ../sass/common.scss */
  #ajaxContent {
    max-width: 600px;
  }

  /* line 287, ../sass/common.scss */
  table.form {
    position: relative;
    top: 50px;
    width: 100%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* line 294, ../sass/common.scss */
  #ajaxContent table.form {
    top: 0px;
  }

  /* line 298, ../sass/common.scss */
  table.form th {
    height: 50px;
    line-height: 50px;
  }

  /* line 303, ../sass/common.scss */
  table.form td {
    vertical-align: middle;
  }

  /* line 307, ../sass/common.scss */
  table.form label {
    text-align: right;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  /* line 314, ../sass/common.scss */
  table.form .float2 label {
    width: auto;
  }

  /* line 319, ../sass/common.scss */
  table.form textarea {
    display: inline-block;
    vertical-align: middle;
  }

  /* line 324, ../sass/common.scss */
  table.form input[type=text] {
    font-size: 90%;
    paddingleft: 10px;
    width: 90%;
    margin: auto;
    height: 30px;
    line-height: 30px;
  }

  /* line 333, ../sass/common.scss */
  table.form input[type=text], table.form textarea {
    width: 60%;
    /*         padding : 10px 0 10px 10px; */
  }

  /* line 338, ../sass/common.scss */
  table.form select {
    display: inline-block;
    /*         margin : auto; */
  }

  /* line 347, ../sass/common.scss */
  table.fullscreen {
    width: 80%;
  }

  /* line 351, ../sass/common.scss */
  div.floatWrapper {
    margin: auto;
    width: 300px;
  }

  /* line 357, ../sass/common.scss */
  #ajaxContent h1, #content h1 {
    font-size: 140%;
    line-height: 50px;
  }
}
/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {
  /* line 373, ../sass/common.scss */
  .listContainer table tr {
    height: 50px;
  }

  /* line 377, ../sass/common.scss */
  .panelWrapper {
    width: 50%;
  }

  /* line 381, ../sass/common.scss */
  .panel {
    position: absolute;
    left: 2px;
  }

  /* line 386, ../sass/common.scss */
  table.fullscreen {
    width: 50%;
  }
}
/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {
  /* line 396, ../sass/common.scss */
  .listContainer table {
    margin: auto;
    border: 1px solid red;
  }
}
/* line 407, ../sass/common.scss */
.event-container {
  position: relative;
}
