/* atinfo base scss */
/* COMPASS IMPORTS */
@import url(http://fonts.googleapis.com/css?family=Varela+Round|Muli);
/* line 5, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* -- FONTS -- */
/* default font */
/*
 * - COMMON -------------------------------------------------------------------
*/
/* line 11, ../sass/common.scss */
html, body {
  font-family: 'Varela Round',sans-serif;
}

/* line 15, ../sass/common.scss */
body {
  font-family: 'Varela Round',sans-serif;
}

/* line 19, ../sass/common.scss */
a {
  font-family: 'Varela Round',sans-serif;
  text-decoration: none;
}

/* line 25, ../sass/common.scss */
.align-center {
  text-align: center !important;
}

/* line 26, ../sass/common.scss */
.full-width {
  width: 100%;
}

/* line 27, ../sass/common.scss */
.center {
  margin: 0 auto;
}

/* line 28, ../sass/common.scss */
.table {
  display: table;
}

/* line 31, ../sass/common.scss */
.tableCell {
  display: table-cell;
  vertical-align: middle !important;
}

/* line 36, ../sass/common.scss */
.errorMsg {
  font-family: lucinda;
  text-align: center;
  font-size: 160%;
  margin: auto;
  display: table;
  padding: 0 0 15px 0;
}

/* line 46, ../sass/common.scss */
.dashboardList tr td:first-child,
.contactList tr td:first-child {
  width: 10%;
}

/* line 51, ../sass/common.scss */
.showForMediumTableCell {
  display: none;
}

/*
 * - FORMS --------------------------------------------------------------------
*/
/* line 61, ../sass/common.scss */
#ajaxContent h1, #content h1 {
  line-height: 30px;
  text-align: center;
}

/* line 66, ../sass/common.scss */
.formError {
  text-align: center;
  font-weight: bold;
  padding: 1em 0;
}

/*
 * - PANEL --------------------------------------------------------------------
*/
/*
 *
 * - CONTENT ------------------------------------------------------------------
 *
 *
*/
/* line 85, ../sass/common.scss */
button {
  vertical-align: middle;
}

/* line 89, ../sass/common.scss */
#contentWithPanel {
  font-family: 'Varela Round',sans-serif;
}

/*
*  listContainer
*  listContainer h1
*  listContainer table
*  listContainer table label
*  listContainer table tr
*  listContainer table td
*  listContainer table th
*
*/
/* line 109, ../sass/common.scss */
div.listContainer {
  margin: auto;
  width: 100%;
  font-family: 'Muli', sans-serif;
}

/* line 116, ../sass/common.scss */
.listContainer h1 {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 140%;
}

/* line 123, ../sass/common.scss */
.listContainer table {
  width: 100%;
  margin: auto;
}

/* line 128, ../sass/common.scss */
.listContainer table.view tr td:nth-child(2) {
  font-size: 110%;
}

/* line 133, ../sass/common.scss */
#ajaxContent .listContainer table {
  margin: auto;
}

/* line 137, ../sass/common.scss */
.listContainer table label {
  width: 100%;
  margin: 3px 0;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}

/* line 147, ../sass/common.scss */
.listContainer table tr {
  height: 50px;
}

/* line 151, ../sass/common.scss */
[data-href] {
  cursor: pointer;
}

/* line 156, ../sass/common.scss */
.listContainer table th {
  font-size: 120%;
}

/* line 161, ../sass/common.scss */
.listContainer .overflow tr td {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 168, ../sass/common.scss */
.listContainer table td {
  padding: 0 10px;
}

/* line 172, ../sass/common.scss */
.record_actions li {
  display: inline-block;
}

/* line 176, ../sass/common.scss */
.listContainer a.button, button {
  height: 40px;
  padding: 0 15px;
  border: none;
  margin: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 0;
  font-family: 'Varela Round',sans-serif;
}

/* line 186, ../sass/common.scss */
button, .listContainer a.actionButton {
  padding: 0 25px;
}

/* line 190, ../sass/common.scss */
.listContainer span {
  display: inline-block;
  padding: 5px;
}

/* line 196, ../sass/common.scss */
.listContainer a.button {
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*
 * - TABLES -------------------------------------------------------------------
*/
/* line 211, ../sass/common.scss */
div.float2 {
  float: left;
  width: 49%;
  text-align: center;
}

/* line 221, ../sass/common.scss */
table.fixed {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

/*
 * - DASHBOARD ----------------------------------------------------------------
*/
/* line 231, ../sass/common.scss */
.dayHeader {
  text-align: left !important;
  padding: 0 10px;
}

/* line 239, ../sass/common.scss */
#contactsWrapper label {
  display: none !important;
}

/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {
  /* line 247, ../sass/common.scss */
  #ajaxContent {
    max-width: 600px;
  }

  /* line 251, ../sass/common.scss */
  .showForMediumTableCell {
    display: table-cell !important;
  }

  /* line 255, ../sass/common.scss */
  .listContainer table label {
    width: 30%;
    text-align: right;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  /* line 263, ../sass/common.scss */
  .listContainer table.view tr td:first-child {
    text-align: right;
  }

  /* line 267, ../sass/common.scss */
  .listContainer table.view td {
    width: 50%;
  }

  /* line 271, ../sass/common.scss */
  div.floatWrapper {
    margin: auto;
    width: 300px;
  }

  /* line 277, ../sass/common.scss */
  #ajaxContent h1, #content h1 {
    font-size: 140%;
    line-height: 50px;
  }

  /* line 282, ../sass/common.scss */
  #contactsWrapper label {
    display: inline-block !important;
    opacity: 0;
  }
}
/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {
  /*
  * hide mobile menu
  */
  /* line 298, ../sass/common.scss */
  .showMenuItem {
    width: auto;
    display: inline !important;
  }

  /* line 304, ../sass/common.scss */
  .panelWrapper {
    width: 50%;
  }

  /* line 308, ../sass/common.scss */
  .panel {
    position: absolute;
    left: 2px;
  }
}
/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {
  /* line 318, ../sass/common.scss */
  .listContainer table {
    margin: auto;
  }
}
/* line 323, ../sass/common.scss */
.event-container {
  position: relative;
}
