/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* atinfo base scss */
/* COMPASS IMPORTS */
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* -- default -- */
/*
 * - GLOBAL -------------------------------------------------------------------
*/
/* line 4, ../sass/_defaultL.scss */
html, body {
  height: 100%;
}

/* hacks for responsivity */
/*
 * - TOPBAR -------------------------------------------------------------------
*/
/* line 18, ../sass/_defaultL.scss */
#topBar {
  height: 39px;
  line-height: 39px;
  border-bottom: 1px solid black;
}

/*
 * - PANEL --------------------------------------------------------------------
*/
/* line 28, ../sass/_defaultL.scss */
#panel {
  position: absolute;
  display: none;
  border-right: 1px solid black;
}

/* line 34, ../sass/_defaultL.scss */
#panel h1 {
  font-size: 90%;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.2);
}

/* line 42, ../sass/_defaultL.scss */
#panel h2 {
  font-size: 110%;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.1);
}

/* line 52, ../sass/_defaultL.scss */
#panel div {
  text-align: center;
  height: 30px;
}

/* line 57, ../sass/_defaultL.scss */
#panelCalendarBox {
  /* 	@include debug(red); */
}

/* line 61, ../sass/_defaultL.scss */
#panelCalendarNav {
  /* 	@include debug(yellow); */
  margin-bottom: 3px;
}

/* line 66, ../sass/_defaultL.scss */
#panelCalendarQuickNav {
  /*  @include debug(yellow); */
  margin-bottom: 3px;
}

/* line 71, ../sass/_defaultL.scss */
.control table {
  margin: auto;
  height: 100%;
  width: auto;
  /* 	@include debug(yellow); */
}

/* line 78, ../sass/_defaultL.scss */
.control table td {
  cursor: pointer;
  padding: 0 5px;
  /*   width : 20px; */
}

/* line 84, ../sass/_defaultL.scss */
.control table td.secondary {
  font-size: 90%;
  padding: 0 4px;
}

/* line 89, ../sass/_defaultL.scss */
.control table td.tertiary {
  font-size: 80%;
  padding: 0 3px;
}

/* line 94, ../sass/_defaultL.scss */
.control table td.today {
  padding-right: 10px;
  width: auto;
}

/* line 100, ../sass/_defaultL.scss */
.control ul {
  /* 	@include debug(orange); */
  height: 100%;
  width: 180px;
  margin: auto;
}

/* line 107, ../sass/_defaultL.scss */
.control ul li {
  float: left;
  width: 20px;
  height: 100%;
  line-height: 30px;
  cursor: pointer;
  /*   @include debug(red); */
}

/* line 116, ../sass/_defaultL.scss */
.control ul li.text {
  width: 100px;
  cursor: default;
}

/* line 122, ../sass/_defaultL.scss */
#PanelMonthCal {
  margin: auto;
  /*   width :               100%; */
  /*   table-layout :       fixed; */
  border-collapse: separate;
  border-spacing: 1px;
}

/* line 131, ../sass/_defaultL.scss */
#PanelMonthCal td {
  vertical-align: top;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

/*
 * - CONTENT ------------------------------------------------------------------
*/
/* line 141, ../sass/_defaultL.scss */
#content {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid red;
}

/* line 150, ../sass/_defaultL.scss */
#content.withHeader {
  top: 60px;
}

/*
 * - DASHBOARD ----------------------------------------------------------------
*/
/* line 157, ../sass/_defaultL.scss */
.panelWrapper {
  position: relative;
  float: left;
  width: 100%;
  height: 50%;
  /*   @include debug(white) */
}

/* line 165, ../sass/_defaultL.scss */
.panel {
  position: absolute;
  left: 0;
  right: 0;
  top: 2px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
}

/*
 * - CALENDAR MONTH -----------------------------------------------------------
*/
/* line 179, ../sass/_defaultL.scss */
#MonthCal {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 1px;
}

/* line 188, ../sass/_defaultL.scss */
#MonthCal td {
  vertical-align: top;
  padding: 3px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  /*   @include border-radius(6px); */
}

/* line 197, ../sass/_defaultL.scss */
span.button {
  top: 0;
  display: inline-block;
  /* 	float:left; */
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1px solid lime;
}

/* line 211, ../sass/_defaultL.scss */
table.innerLabel {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border: 1px solid lime;
}

/* line 219, ../sass/_defaultL.scss */
table.innerLabel td {
  text-align: right;
  padding-right: 10px;
}

/* line 226, ../sass/_defaultL.scss */
table.inner {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

/* line 233, ../sass/_defaultL.scss */
table.inner td {
  border: 1px solid red;
}

/* line 238, ../sass/_defaultL.scss */
table.outer {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

/* table.times { */
/* 	width : 15%; */
/* 	@include debug(lime) */
/* } */
/* table.meets { */
/*   width : 100%; */
/*   @include debug(lime) */
/* } */
/* -- EOF -- */
/*
 * - GLOBAL -------------------------------------------------------------------
*/
/* line 5, ../sass/_defaultS.scss */
body {
  color: white;
  background-color: black;
  font-family: 'Varela Round',sans-serif;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5MTkxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #191919), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(top left, #191919, #000000);
  background-image: -webkit-linear-gradient(top left, #191919, #000000);
  background-image: linear-gradient(to bottom right, #191919, #000000);
}

/* line 18, ../sass/_defaultS.scss */
body.green {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjYwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMzMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #006600), color-stop(100%, #003300));
  background-image: -moz-linear-gradient(top left, #006600, #003300);
  background-image: -webkit-linear-gradient(top left, #006600, #003300);
  background-image: linear-gradient(to bottom right, #006600, #003300);
}

/* table { @include debug(red) } */
/* table td  { @include debug(yellow) } */
/* line 33, ../sass/_defaultS.scss */
a {
  color: white;
}

/* line 35, ../sass/_defaultS.scss */
#MonthCal td {
  /*     height : 100%; */
}

/* line 39, ../sass/_defaultS.scss */
#MonthCal a.inner {
  display: inline-block;
  border: 1px solid blue;
}

/* line 40, ../sass/_defaultS.scss */
#MonthCal a.cell {
  display: block;
  border: 1px solid green;
  height: 100%;
}

/* line 42, ../sass/_defaultS.scss */
#MonthCal td {
  height: 100%;
  border: 1px solid cyan;
  cursor: pointer;
}

/* hacks for responsivity */
/*
 * - TOPBAR -------------------------------------------------------------------
*/
/* line 49, ../sass/_defaultS.scss */
#topBar {
  border-bottom: 1px solid #666;
}

/*
 * - PANEL --------------------------------------------------------------------
*/
/* line 56, ../sass/_defaultS.scss */
#panel {
  border-right: 1px solid #666;
}

/* line 60, ../sass/_defaultS.scss */
#PanelMonthCal td {
  font-size: 80%;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* line 68, ../sass/_defaultS.scss */
#PanelMonthCal td a, #panelCalendarQuickNav td a, #panelCalendarContent td a {
  text-decoration: none;
  display: block;
  height: 100%;
}

/* line 75, ../sass/_defaultS.scss */
#PanelMonthCal td.outOfMonth {
  color: #aaa;
  background: rgba(255, 255, 255, 0.1);
}

/* line 80, ../sass/_defaultS.scss */
.control ul li.text {
  font-size: 80%;
}

/*
 * - CONTENT ------------------------------------------------------------------
*/
/*
 * - DASHBOARD ----------------------------------------------------------------
*/
/*
 * - CALENDAR MONTH -----------------------------------------------------------
*/
/* line 97, ../sass/_defaultS.scss */
#MonthCal td {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  background: rgba(255, 255, 255, 0.2);
}

/* line 103, ../sass/_defaultS.scss */
#MonthCal td.outOfMonth {
  color: #aaa;
  background: rgba(255, 255, 255, 0.1);
}

/* line 109, ../sass/_defaultS.scss */
#panel div.control {
  font-size: 90%;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
}

/* line 122, ../sass/_defaultS.scss */
span.button a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 70%;
  /*   @include border-radius(4px); */
}

/* line 130, ../sass/_defaultS.scss */
span.button a:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

/* -- EOF -- */
/* tests */
/* line 3, ../sass/_tests.scss */
#ajaxFrame {
  border: 1px solid green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*     background : rgba( 255,255,255,.6 ); */
  z-index: 0;
}

/* line 14, ../sass/_tests.scss */
.required:after {
  content: "*";
}

/* line 18, ../sass/_tests.scss */
table.form {
  width: 100%;
  margin: auto;
}

/* line 23, ../sass/_tests.scss */
table.form label {
  /*   @include debug(red); */
  display: block;
}

/* line 28, ../sass/_tests.scss */
table.form td {
  padding-left: 5px;
  line-height: 30px;
  border: 1px solid white;
}

/* line 34, ../sass/_tests.scss */
table.form input[type=text], table.form input[type=time] {
  float: left;
  line-height: 30px;
  /*     width : $inputWidth; */
}

/* line 40, ../sass/_tests.scss */
table.form input[type=text].date {
  width: 100px;
}

/* line 44, ../sass/_tests.scss */
table.form input[type=time] {
  width: 60px;
}

/* line 48, ../sass/_tests.scss */
table.form textarea {
  height: 50px;
  line-height: 30px;
  /*     width : $inputWidth; */
}

/* line 54, ../sass/_tests.scss */
#ajaxContent h1, #content h1 {
  line-height: 30px;
  text-align: center;
  /*     @include debug(white); */
}

/* line 61, ../sass/_tests.scss */
#ajaxContent {
  border: 1px solid blue;
  width: 400px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -200px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {
  /* line 78, ../sass/_tests.scss */
  table.form {
    width: 400px;
  }

  /* line 82, ../sass/_tests.scss */
  #ajaxContent h1, #content h1 {
    font-size: 140%;
    line-height: 50px;
  }
}
/* -- MIN WIDTH 1000px ------------------------ */
/* -- MIN WIDTH 1400px ------------------------ */
/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {
  /*
   * - GLOBAL -------------------------------------------------------------------
  */
  /* hacks for responsivity */
  /*
   * - TOPBAR -------------------------------------------------------------------
  */
  /*
   * - PANEL --------------------------------------------------------------------
  */
  /*
   * - CONTENT ------------------------------------------------------------------
  */
  /* -- EOF -- */
}
/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {
  /*
   * - GLOBAL -------------------------------------------------------------------
  */
  /* hacks for responsivity */
  /*
   * - TOPBAR -------------------------------------------------------------------
  */
  /*
   * - PANEL --------------------------------------------------------------------
  */
  /* line 19, ../sass/_1000L.scss */
  #panel {
    display: block;
    top: 40px;
    left: 0;
    width: 199px;
    bottom: 0;
  }

  /* line 27, ../sass/_1000L.scss */
  #PanelMonthCal {
    /*   height: $panelWidth * 3 / 4; */
  }

  /* line 31, ../sass/_1000L.scss */
  #PanelMonthCal td {
    width: 25px;
    height: 25px;
  }

  /* line 36, ../sass/_1000L.scss */
  #PanelMonthCal td a {
    /*   width :  25px; */
    /*   height : 25px; */
  }

  /*
   * - CONTENT ------------------------------------------------------------------
  */
  /* line 44, ../sass/_1000L.scss */
  #content {
    left: 200px;
  }

  /*
   * - DASHBOARD ----------------------------------------------------------------
  */
  /* line 52, ../sass/_1000L.scss */
  .panelWrapper {
    width: 50%;
  }

  /* line 57, ../sass/_1000L.scss */
  .panel {
    position: absolute;
    left: 2px;
  }

  /* -- EOF -- */
  /*
   * - GLOBAL -------------------------------------------------------------------
  */
  /* hacks for responsivity */
  /*
   * - TOPBAR -------------------------------------------------------------------
  */
  /*
   * - PANEL --------------------------------------------------------------------
  */
  /* line 16, ../sass/_1000S.scss */
  #PanelMonthCal td {
    font-size: 70%;
  }

  /*
   * - CONTENT ------------------------------------------------------------------
  */
  /*
   * - DASHBOARD ----------------------------------------------------------------
  */
  /* -- EOF -- */
}
/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {
  /*
   * - GLOBAL -------------------------------------------------------------------
  */
  /* hacks for responsivity */
  /*
   * - TOPBAR -------------------------------------------------------------------
  */
  /*
   * - PANEL --------------------------------------------------------------------
  */
  /* line 18, ../sass/_1400L.scss */
  #panel {
    width: 299px;
  }

  /* line 22, ../sass/_1400L.scss */
  #PanelMonthCal {
    /*   height: $panelWidth * 3 / 4; */
  }

  /* line 26, ../sass/_1400L.scss */
  #PanelMonthCal td {
    width: 35px;
    height: 35px;
  }

  /*
   * - CONTENT ------------------------------------------------------------------
  */
  /* line 35, ../sass/_1400L.scss */
  #content {
    left: 300px;
  }

  /*
   * - DASHBOARD ----------------------------------------------------------------
  */
  /* -- EOF -- */
}
