/* common compass stuff */
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* main elements : html, body, topbar, panel and content */
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/*
    Main elements : html, body, topbar, panel and content ---------------------
*/
/* line 6, ../sass/structure_main.scss */
html, body {
  height: 100%;
}

/* topbar */
/* line 12, ../sass/structure_main.scss */
#ttm_topBar {
  height: 39px;
  line-height: 39px;
}

/* panel */
/* line 19, ../sass/structure_main.scss */
#ttm_panel {
  position: absolute;
  display: none;
}

/* content */
/* line 25, ../sass/structure_main.scss */
#ttm_contentWithPanel {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
}

/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {
  /*
      Main elements : html, body, topbar, panel and content
  */
  /* line 42, ../sass/structure_main.scss */
  #ttm_panel {
    display: block;
    top: 40px;
    left: 0;
    width: 199px;
    bottom: 0;
  }

  /* line 50, ../sass/structure_main.scss */
  #ttm_contentWithPanel {
    left: 200px;
  }
}
/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {
  /*
      Main elements : html, body, topbar, panel and content
  */
  /* line 63, ../sass/structure_main.scss */
  #ttm_panel {
    width: 299px;
  }

  /* line 67, ../sass/structure_main.scss */
  #ttm_contentWithPanel {
    left: 300px;
  }
}
/* calendar structure */
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/*
    -- common -----------------------------------------------------------------
*/
/* line 6, ../sass/structure_calendar.scss */
#ttm_calendar {
  border-collapse: separate;
  height: 100%;
}

/* calendar cell */
/* line 12, ../sass/structure_calendar.scss */
#ttm_calendar td {
  vertical-align: top;
  height: 100%;
  cursor: pointer;
}

/* calendar out of month cell */
/* line 19, ../sass/structure_calendar.scss */
#ttm_calendar td.outOfMonth {
  cursor: default;
}

/* event link */
/* line 24, ../sass/structure_calendar.scss */
#ttm_calendar a.event {
  display: block;
  width: 100%;
  height: 100%;
}

/* event link span */
/* line 31, ../sass/structure_calendar.scss */
#ttm_calendar a.event span {
  display: block;
}

/*
    -- month only -------------------------------------------------------------
*/
/* month cell content */
/* line 41, ../sass/structure_calendar.scss */
#ttm_calendar table.monthCell {
  width: 100%;
  height: 100%;
}

/* month cell header */
/* line 47, ../sass/structure_calendar.scss */
#ttm_calendar th.monthHeaderContainer {
  height: 20px;
  line-height: 20px;
}

/* link in month cell header */
/* line 54, ../sass/structure_calendar.scss */
#ttm_calendar th.monthHeaderContainer a {
  display: block;
}

/* event link wrapper for month */
/* line 59, ../sass/structure_calendar.scss */
div.monthEvent {
  height: 19px;
  line-height: 19px;
}

/* show hide events links */
/* line 65, ../sass/structure_calendar.scss */
a.moreLink, a.closeLink {
  display: block;
  height: 19px;
  line-height: 19px;
}

/*
    -- day and week -----------------------------------------------------------
*/
/* events in day and week */
/* line 77, ../sass/structure_calendar.scss */
div.singleEvent {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*
    -- week only --------------------------------------------------------------
*/
/* link in week header */
/* line 91, ../sass/structure_calendar.scss */
#ttm_calendar a.weekHeader {
  display: table;
  height: 100%;
  width: 100%;
}

/* span for above */
/* line 98, ../sass/structure_calendar.scss */
#ttm_calendar a.weekHeader span {
  display: table-cell;
  vertical-align: middle;
}

/* calendar style */
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/*
    -- common -----------------------------------------------------------------
*/
/* calendar cell */
/* line 12, ../sass/style_calendar.scss */
#ttm_calendar td {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  background: rgba(255, 255, 255, 0.2);
}

/* event link hover */
/* line 19, ../sass/style_calendar.scss */
#ttm_calendar a.event:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* event link span */
/* line 24, ../sass/style_calendar.scss */
#ttm_calendar a.event span {
  padding: 0 5px;
}

/*
    -- month only -------------------------------------------------------------
*/
/* in month calendar cell */
/* line 36, ../sass/style_calendar.scss */
#ttm_calendar td.month {
  background: none;
}

/* out of month calendar cell */
/* line 41, ../sass/style_calendar.scss */
#ttm_calendar td.outOfMonth {
  color: #aaa;
  background: rgba(0, 0, 0, 0.1);
}

/* month cell header */
/* line 47, ../sass/style_calendar.scss */
#ttm_calendar th.monthHeaderContainer {
  background: rgba(255, 255, 255, 0.1);
}

/* month cell header link */
/* line 52, ../sass/style_calendar.scss */
#ttm_calendar th.monthHeaderContainer a {
  padding: 0 5px;
}

/* month cell content */
/* line 57, ../sass/style_calendar.scss */
#ttm_calendar th.monthCellContent {
  background: rgba(255, 255, 255, 0.2);
}

/* show hide events links */
/* line 62, ../sass/style_calendar.scss */
a.moreLink, a.closeLink {
  font-size: 80%;
  background: rgba(0, 0, 0, 0.6);
}

/* event link wrapper for month */
/* line 69, ../sass/style_calendar.scss */
div.monthEvent {
  font-family: 'Muli',sans-serif;
  background: rgba(0, 0, 0, 0.2);
}

/* nth-style for above */
/* line 75, ../sass/style_calendar.scss */
#ttm_calendar div.monthEvent:nth-child(even) {
  background: rgba(0, 0, 0, 0.3);
}

/*
    -- day and week -----------------------------------------------------------
*/
/* events in day and week */
/* line 85, ../sass/style_calendar.scss */
div.singleEvent {
  background: rgba(0, 0, 0, 0.2);
}

/* week */
/* line 90, ../sass/style_calendar.scss */
table.timeLabel td {
  text-align: right;
  padding-right: 10px;
}

/*
    -- week only --------------------------------------------------------------
*/
/* week header cell */
/* line 100, ../sass/style_calendar.scss */
#ttm_calendar td.weekHeader {
  background: rgba(255, 255, 255, 0.1);
}

/* panel style */
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* panel */
/* line 7, ../sass/style_panel.scss */
#ttm_panel {
  font-family: 'Varela Round',sans-serif;
  border-right: 1px solid #666;
}

/* date display */
/* line 13, ../sass/style_panel.scss */
#dateDisplay {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.2);
}

/* panel header */
/* line 21, ../sass/style_panel.scss */
#ttm_panel h2 {
  font-size: 110%;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.1);
}

/* line 30, ../sass/style_panel.scss */
#panelCalendarNav {
  margin-bottom: 3px;
}

/* line 34, ../sass/style_panel.scss */
#panelCalendarQuickNav {
  margin-bottom: 3px;
}

/*
    controls ------------------------------------------------------------------
*/
/* line 42, ../sass/style_panel.scss */
.controls {
  font-size: 90%;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
}

/* line 48, ../sass/style_panel.scss */
.controls table {
  margin: auto;
  width: auto;
}

/* line 53, ../sass/style_panel.scss */
.controls table td {
  height: 30px;
  vertical-align: middle;
}

/* line 58, ../sass/style_panel.scss */
.controls table td a {
  display: table-cell;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
}

/* line 66, ../sass/style_panel.scss */
.controls table td a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 70, ../sass/style_panel.scss */
.controls table td.secondary a {
  font-size: 90%;
  padding: 0 4px;
}

/* line 75, ../sass/style_panel.scss */
.controls table td.tertiary a {
  font-size: 80%;
  padding: 0 3px;
}

/* line 80, ../sass/style_panel.scss */
.controls table td.today {
  padding-right: 10px;
  width: auto;
}

/*
    calendar ------------------------------------------------------------------
*/
/* line 91, ../sass/style_panel.scss */
#PanelMonthCal {
  margin: auto;
  border-collapse: separate;
  border-spacing: 1px;
}

/* line 98, ../sass/style_panel.scss */
#PanelMonthCal td {
  font-size: 80%;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* line 106, ../sass/style_panel.scss */
#PanelMonthCal td a {
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
}

/* line 114, ../sass/style_panel.scss */
#PanelMonthCal td.outOfMonth {
  color: #aaa;
  background: rgba(0, 0, 0, 0.1);
}

/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {
  /* line 123, ../sass/style_panel.scss */
  #PanelMonthCal td {
    font-size: 70%;
    width: 25px;
    height: 25px;
  }
}
/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {
  /* line 134, ../sass/style_panel.scss */
  #PanelMonthCal td {
    width: 35px;
    height: 35px;
  }
}
