/* common compass stuff */
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* main elements : html, body, topbar, panel and content */
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/*
 * -- Main elements : html, body, topbar, panel and content -------------------
*/
/* line 6, ../sass/_structure_main.scss */
html, body {
  height: 100%;
}

/* topbar height */
/* panel */
/* line 15, ../sass/_structure_main.scss */
#ttm_panel {
  position: absolute;
  display: none;
}

/* content */
/* line 21, ../sass/_structure_main.scss */
#ttm_contentWithPanel {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
}

/*
 * -- Ajax --------------------------------------------------------------------
*/
/* line 33, ../sass/_structure_main.scss */
#ajaxFrame {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* line 43, ../sass/_structure_main.scss */
#ajaxContainer {
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* line 51, ../sass/_structure_main.scss */
#ajaxContent {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
}

/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {
  /*
   * -- Main elements : html, body, topbar, panel and content
  */
  /* line 67, ../sass/_structure_main.scss */
  #ttm_panel {
    display: block;
    top: 40px;
    left: 0;
    width: 199px;
    bottom: 0;
  }

  /* line 75, ../sass/_structure_main.scss */
  #ttm_contentWithPanel {
    left: 200px;
  }
}
/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {
  /*
   * -- Main elements : html, body, topbar, panel and content
  */
  /* line 88, ../sass/_structure_main.scss */
  #ttm_panel {
    width: 299px;
  }

  /* line 92, ../sass/_structure_main.scss */
  #ttm_contentWithPanel {
    left: 300px;
  }
}
/* base style */
/*
 * - TOPBAR -------------------------------------------------------------------
*/
/* line 5, ../sass/_style_main.scss */
#ttm_topBar {
  font-family: 'Varela Round',sans-serif;
}

/* line 9, ../sass/_style_main.scss */
#ttm_topBarNav {
  float: left;
}

/* line 13, ../sass/_style_main.scss */
#ttm_topBarNav li {
  float: left;
}

/* line 17, ../sass/_style_main.scss */
#ttm_topBarNav a, #ttm_topBarAuth a {
  display: block;
  padding: 0 10px;
}

/* line 22, ../sass/_style_main.scss */
#ttm_topBarAuth {
  float: right;
}

/* line 26, ../sass/_style_main.scss */
#ttm_topBarAuth li {
  float: left;
}

/* topbar style and structure */
/*
* topbar
*/
/* line 4, ../sass/_topbar.scss */
#ttm_topBar {
  height: 39px;
  line-height: 39px;
}

/*
* topbar navigation
*/
/* line 13, ../sass/_topbar.scss */
#ttm_topBarNav {
  height: 39px;
  line-height: 39px;
}

/* line 19, ../sass/_topbar.scss */
.hide {
  display: none !important;
}

/* line 23, ../sass/_topbar.scss */
.hideForBig {
  display: inline;
}

/* line 28, ../sass/_topbar.scss */
.show {
  display: block !important;
}

/* line 32, ../sass/_topbar.scss */
.showForSmall {
  display: inline;
}

/* line 36, ../sass/_topbar.scss */
.showForMedium, .showForMediumInline, .showForMediumInlineBlock {
  display: none !important;
}

/*
* show mobile menu
*/
/* line 43, ../sass/_topbar.scss */
.showMenu {
  display: block !important;
  position: absolute;
  top: 40px;
  width: 100%;
}

/* line 50, ../sass/_topbar.scss */
.showMenuItem {
  width: 100%;
  position: relative;
  z-index: 10;
  display: block;
}

/*
* show panel
*/
/* line 60, ../sass/_topbar.scss */
.showPanel {
  display: block !important;
  z-index: 10;
  width: 300px;
}

/* line 66, ../sass/_topbar.scss */
.sizeMobileNavCalendar {
  width: 35px !important;
  height: 35px !important;
}

/* line 73, ../sass/_topbar.scss */
#mobileMenu, #mobilePanel {
  width: 40px;
  text-align: center;
  cursor: pointer;
}

/* line 79, ../sass/_topbar.scss */
#mobileMenu i {
  font-size: 26px;
  display: block;
  width: 40px;
}

/* line 85, ../sass/_topbar.scss */
#mobilePanel {
  width: 50px;
}

/* line 89, ../sass/_topbar.scss */
#mobilePanel i {
  font-size: 22px;
  display: block;
  width: 50px;
}

/* line 95, ../sass/_topbar.scss */
#closeMenu {
  display: none;
}

/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {
  /* line 102, ../sass/_topbar.scss */
  .showMenu {
    top: 0;
    position: static;
    width: auto;
    display: inline-block !important;
  }

  /*
  * hide mobile menu
  */
  /* line 112, ../sass/_topbar.scss */
  .showMenuItem {
    width: auto;
    display: inline !important;
  }

  /* line 117, ../sass/_topbar.scss */
  .showForMedium {
    display: block !important;
  }

  /* line 121, ../sass/_topbar.scss */
  .showForMediumInline {
    display: inline !important;
  }

  /* line 125, ../sass/_topbar.scss */
  .showForMediumInlineBlock {
    display: inline-block !important;
  }

  /* line 129, ../sass/_topbar.scss */
  .showForSmall {
    display: none;
  }

  /* line 133, ../sass/_topbar.scss */
  .showForMediumInline .hide {
    display: inline !important;
  }
}
/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {
  /* line 142, ../sass/_topbar.scss */
  .hideForBig {
    display: none !important;
  }

  /* line 146, ../sass/_topbar.scss */
  .sizeMobileNavCalendar {
    width: 25px !important;
    height: 25px !important;
  }
}
/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {
  /* line 156, ../sass/_topbar.scss */
  .sizeMobileNavCalendar {
    width: 35px !important;
    height: 35px !important;
  }
}
/* calendar structure */
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/*
 * -- common ------------------------------------------------------------------
*/
/* line 6, ../sass/_structure_calendar.scss */
#ttm_calendar {
  border-collapse: separate;
  height: 100%;
}

/* calendar cell */
/* line 12, ../sass/_structure_calendar.scss */
#ttm_calendar td {
  vertical-align: top;
  height: 100%;
  cursor: pointer;
}

/* calendar out of month cell */
/* line 19, ../sass/_structure_calendar.scss */
#ttm_calendar td.outOfMonth {
  cursor: default;
}

/* event link */
/* line 24, ../sass/_structure_calendar.scss */
#ttm_calendar a.event {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* event link span */
/* line 35, ../sass/_structure_calendar.scss */
#ttm_calendar a.event span {
  display: block;
}

/*
 * -- month only --------------------------------------------------------------
*/
/* month cell content */
/* line 45, ../sass/_structure_calendar.scss */
#ttm_calendar table.monthCell {
  width: 100%;
  height: 100%;
}

/* month cell header */
/* line 51, ../sass/_structure_calendar.scss */
#ttm_calendar th.monthHeaderContainer {
  height: 20px;
  line-height: 20px;
}

/* link in month cell header */
/* line 58, ../sass/_structure_calendar.scss */
#ttm_calendar th.monthHeaderContainer a {
  display: block;
}

/* event link wrapper for month */
/* line 63, ../sass/_structure_calendar.scss */
div.monthEvent {
  height: 19px;
  line-height: 19px;
}

/* show hide events links */
/* line 69, ../sass/_structure_calendar.scss */
a.moreLink, a.closeLink {
  display: block;
  height: 19px;
  line-height: 19px;
}

/*
 * -- day and week ------------------------------------------------------------
*/
/* events in day and week */
/* line 81, ../sass/_structure_calendar.scss */
div.singleEvent {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*
 * -- week only ---------------------------------------------------------------
*/
/* link in week header */
/* line 95, ../sass/_structure_calendar.scss */
#ttm_calendar a.weekHeader {
  display: table;
  height: 100%;
  width: 100%;
}

/* span for above */
/* line 102, ../sass/_structure_calendar.scss */
#ttm_calendar a.weekHeader span {
  display: table-cell;
  vertical-align: middle;
}

/* calendar style */
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/*
 * -- common ------------------------------------------------------------------
*/
/* event link span */
/* line 8, ../sass/_style_calendar.scss */
#ttm_calendar a.event span {
  padding: 0 5px;
}

/*
 * -- month only --------------------------------------------------------------
*/
/* month cell header link */
/* line 17, ../sass/_style_calendar.scss */
#ttm_calendar th.monthHeaderContainer a {
  padding: 0 5px;
}

/* show hide events links */
/* line 22, ../sass/_style_calendar.scss */
a.moreLink, a.closeLink {
  font-size: 80%;
}

/* event link wrapper for month */
/* line 27, ../sass/_style_calendar.scss */
div.monthEvent {
  font-family: 'Muli',sans-serif;
  font-size: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
 * -- day and week ------------------------------------------------------------
*/
/* events in day and week */
/* line 41, ../sass/_style_calendar.scss */
div.singleEvent {
  font-size: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* week */
/* line 49, ../sass/_style_calendar.scss */
table.timeLabel td {
  text-align: right;
  padding-right: 10px;
  font-size: 80%;
}

/* line 55, ../sass/_style_calendar.scss */
td.times {
  width: 60px;
}

/*
 * -- week only ---------------------------------------------------------------
*/
/* week header cell */
/* line 64, ../sass/_style_calendar.scss */
#ttm_calendar td.weekHeader {
  font-size: 80%;
}

/* panel style */
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* panel */
/* line 8, ../sass/_style_panel.scss */
#ttm_panel {
  font-family: 'Varela Round',sans-serif;
}

/* date display */
/* line 13, ../sass/_style_panel.scss */
#dateDisplay {
  font-size: 90%;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

/* line 20, ../sass/_style_panel.scss */
#dateDisplay span {
  display: inline-block;
  height: 40px;
  float: right;
  padding-right: 5px;
  cursor: pointer;
}

/* line 30, ../sass/_style_panel.scss */
#dateDisplay span i {
  font-size: 26px;
}

/* panel header */
/* line 35, ../sass/_style_panel.scss */
#ttm_panel h2 {
  font-size: 110%;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}

/*
 * -- controls ----------------------------------------------------------------
*/
/* line 46, ../sass/_style_panel.scss */
.controls {
  font-size: 80%;
  text-align: center;
  height: 40px;
}

/* line 52, ../sass/_style_panel.scss */
.controls table {
  margin: auto;
  width: auto;
  height: 100%;
}

/* line 58, ../sass/_style_panel.scss */
.controls table td {
  height: 30px;
  vertical-align: middle;
}

/* line 63, ../sass/_style_panel.scss */
.controls table td a {
  display: table-cell;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
}

/* line 71, ../sass/_style_panel.scss */
.controls table td.secondary a {
  font-size: 90%;
  padding: 0 4px;
}

/* line 76, ../sass/_style_panel.scss */
.controls table td.tertiary a {
  font-size: 80%;
  padding: 0 3px;
}

/* line 81, ../sass/_style_panel.scss */
.controls table td.today {
  padding-right: 10px;
  width: auto;
}

/*
 * -- calendar ----------------------------------------------------------------
*/
/* line 92, ../sass/_style_panel.scss */
#PanelMonthCal {
  table-layout: fixed;
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 1px;
}

/* line 101, ../sass/_style_panel.scss */
#PanelMonthCal td {
  font-size: 80%;
  cursor: pointer;
}

/* line 106, ../sass/_style_panel.scss */
#PanelMonthCal td a {
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
}

/* line 113, ../sass/_style_panel.scss */
#PanelMonthCal td {
  font-size: 70%;
  width: 25px;
  height: 25px;
}

/* line 119, ../sass/_style_panel.scss */
table.expand {
  width: 100%;
}

/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {
  /* line 126, ../sass/_style_panel.scss */
  #PanelMonthCal td {
    font-size: 70%;
    width: 25px;
    height: 25px;
  }
}
/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {
  /* line 137, ../sass/_style_panel.scss */
  #PanelMonthCal td {
    width: 35px;
    height: 35px;
  }
}
/* forms */
/*
 * -- Forms -------------------------------------------------------------------
*/
/* asterisk after required field */
/* line 7, ../sass/_forms.scss */
.required:after {
  content: "*";
}

/* line 9, ../sass/_forms.scss */
select {
  display: table;
  height: 40px;
  margin: auto;
  width: 90%;
  box-sizing: border-box;
}

/* line 17, ../sass/_forms.scss */
select.agendaSwitch {
  width: 100% !important;
}

/* line 19, ../sass/_forms.scss */
option {
  padding: 5px;
}

/* line 23, ../sass/_forms.scss */
input {
  vertical-align: middle;
}

/* line 28, ../sass/_forms.scss */
table.form {
  margin: auto;
  width: 100%;
  font-family: 'Muli',sans-serif;
  vertical-align: center;
}

/* line 35, ../sass/_forms.scss */
table.form td {
  padding: 5px 0 10px;
  vertical-align: middle;
  text-align: center;
}

/* line 41, ../sass/_forms.scss */
table.form label {
  width: 90%;
  margin: auto;
  height: 40px;
  line-height: 40px;
  display: block !important;
}

/* line 49, ../sass/_forms.scss */
table.form label.hidden {
  height: 0px;
  line-height: 0px;
}

/* line 54, ../sass/_forms.scss */
table.form .float2 label {
  width: 100%;
}

/* line 58, ../sass/_forms.scss */
table.form th {
  text-align: center;
  font-size: 140%;
  height: 40px;
  line-height: 40px;
}

/* line 65, ../sass/_forms.scss */
select, textarea, table.form input {
  display: inline-block;
  margin-bottom: 10px !important;
}

/* line 70, ../sass/_forms.scss */
table.form input[type=text], table.form input[type=password], table.form input[type=email] {
  padding: 2px;
  width: 90%;
  margin: auto;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
}

/* line 79, ../sass/_forms.scss */
table.form input[type=text].date {
  width: 130px;
  text-align: center;
  padding: 0 !important;
  font-size: 70%;
}

/* line 86, ../sass/_forms.scss */
table.form textarea {
  overflow: auto;
  resize: none;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  padding: 5px;
  box-sizing: border-box;
}

/* line 96, ../sass/_forms.scss */
table.form input[type=text],
table.form input[type=password],
table.form input[type=email],
table.form textarea,
table.form select {
  font-family: 'Varela Round',sans-serif;
  font-size: 90%;
  width: 90%;
}

/* line 108, ../sass/_forms.scss */
#fos_user_profile_form_theme, #fos_user_profile_form_language {
  display: inline-block;
  width: auto !important;
}

/* line 114, ../sass/_forms.scss */
#fos_user_profile_form_theme label, #fos_user_profile_form_language label {
  width: auto !important;
}

/* -- MIN WIDTH 400px ------------------------ */
@media screen and (min-width: 400px) {
  /* line 122, ../sass/_forms.scss */
  table.form input[type=text].date {
    width: 170px;
    font-size: 90%;
  }
}
/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {
  /* line 131, ../sass/_forms.scss */
  select, textarea, table.form input {
    display: inline-block;
    margin-bottom: auto !important;
  }

  /* line 136, ../sass/_forms.scss */
  table.form select {
    display: inline-block;
    width: 30%;
  }

  /* line 149, ../sass/_forms.scss */
  table.form td {
    vertical-align: middle;
    text-align: left;
  }

  /* line 154, ../sass/_forms.scss */
  #actionButtons {
    text-align: center;
  }

  /* line 156, ../sass/_forms.scss */
  table.form th {
    height: 50px;
    line-height: 50px;
  }

  /* line 161, ../sass/_forms.scss */
  table.form label {
    width: 30% !important;
    text-align: right;
    padding-right: 10px;
    display: inline-block !important;
    vertical-align: middle;
  }

  /* line 169, ../sass/_forms.scss */
  table.form .float2 label {
    width: auto !important;
  }

  /* line 174, ../sass/_forms.scss */
  table.form input[type=text],
  table.form input[type=password],
  table.form input[type=email],
  table.form textarea,
  table.form select {
    font-size: 100%;
    width: 40%;
    padding-left: 10px;
  }
}
