/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/*
*  -- commom ------------------------------------------------------------------
*/
/* line 28, ../sass/theme-black.scss */
body {
  color: white;
  background-color: #111;
  font-family: 'Varela Round',sans-serif;
}

/* line 34, ../sass/theme-black.scss */
a {
  color: white;
}

/* line 36, ../sass/theme-black.scss */
a.today {
  background-color: #900;
}

/* line 40, ../sass/theme-black.scss */
.listContainer h1 {
  background-color: #060 !important;
  background: rgba(0, 0, 0, 0.3) !important;
}

/* line 47, ../sass/theme-black.scss */
.listContainer table tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 51, ../sass/theme-black.scss */
.listContainer table tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 55, ../sass/theme-black.scss */
.listContainer table tr:nth-child(odd):hover {
  background: rgba(255, 255, 255, 0.2);
}

/* line 59, ../sass/theme-black.scss */
.listContainer table tr.tableHeader {
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 63, ../sass/theme-black.scss */
.listContainer table tr.tableHeader:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 69, ../sass/theme-black.scss */
.listContainer a.button, button {
  color: #ddd;
  background: linear-gradient(to bottom, #888888 50%, #777777 50%);
}

/* line 74, ../sass/theme-black.scss */
.listContainer a.button:hover, button:hover {
  color: #fff;
  background: linear-gradient(to bottom, #666666 50%, #555555 50%);
}

/*
*  -- calendar -------------------------------------------------------------------
*/
/* calendar cell */
/* line 85, ../sass/theme-black.scss */
#ttm_calendar td {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

/* month cell content */
/* line 91, ../sass/theme-black.scss */
#ttm_calendar th.monthCellContent {
  background-color: rgba(0, 0, 0, 0.1);
}

/* event link hover */
/* line 96, ../sass/theme-black.scss */
#ttm_calendar a.event:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* in month calendar cell */
/* line 101, ../sass/theme-black.scss */
#ttm_calendar td.month {
  background-color: none;
}

/* out of month calendar cell */
/* line 106, ../sass/theme-black.scss */
#ttm_calendar td.outOfMonth {
  background-color: rgba(255, 255, 255, 0.1);
}

/* month cell header */
/* line 111, ../sass/theme-black.scss */
#ttm_calendar th.monthHeaderContainer {
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 115, ../sass/theme-black.scss */
#ttm_calendar th.monthHeaderContainer a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* event link wrapper for month */
/* line 120, ../sass/theme-black.scss */
div.monthEvent {
  background-color: rgba(255, 255, 255, 0.2);
}

/* nth-style for above */
/* line 125, ../sass/theme-black.scss */
div.monthEvent:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

/* show hide events links */
/* line 130, ../sass/theme-black.scss */
a.moreLink, a.closeLink {
  background-color: rgba(0, 0, 0, 0.4);
}

/* events in day and week */
/* line 135, ../sass/theme-black.scss */
div.singleEvent {
  background-color: rgba(0, 0, 0, 0.2);
}

/* week header cell */
/* line 140, ../sass/theme-black.scss */
#ttm_calendar td.weekHeader {
  background-color: rgba(255, 255, 255, 0.1);
}

/*
*  -- panel -------------------------------------------------------------------
*/
/* line 147, ../sass/theme-black.scss */
#ttm_panel {
  font-family: 'Varela Round',sans-serif;
  border-right: 1px solid #333;
}

/* date display */
/* line 153, ../sass/theme-black.scss */
#dateDisplay {
  background-color: rgba(0, 0, 0, 0.3);
}

/* panel header */
/* line 158, ../sass/theme-black.scss */
#ttm_panel h2 {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 162, ../sass/theme-black.scss */
.controls {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 166, ../sass/theme-black.scss */
.controls table td a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* month cell */
/* line 171, ../sass/theme-black.scss */
#PanelMonthCal td {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.2);
}

/* out of month cell */
/* line 178, ../sass/theme-black.scss */
#PanelMonthCal td.outOfMonth {
  background-color: rgba(0, 0, 0, 0.1);
}

/* separator */
/* line 183, ../sass/theme-black.scss */
#panelCalendarNav {
  border-bottom: 1px solid #333;
}

/*
*  -- topbar ------------------------------------------------------------------
*/
/* line 191, ../sass/theme-black.scss */
#ttm_topBar {
  border-bottom: 1px solid #333;
  border-bottom: 1px solid #333;
}

/* line 196, ../sass/theme-black.scss */
#ttm_topBarNav li {
  border-right: 1px solid #333;
}

/* line 200, ../sass/theme-black.scss */
#ttm_topBarAuth li {
  border-left: 1px solid #333;
}

/* line 204, ../sass/theme-black.scss */
#ttm_topBarNav a:hover, #ttm_topBarAuth a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 208, ../sass/theme-black.scss */
.showMenuItem {
  background-color: #111;
}

/* line 212, ../sass/theme-black.scss */
.showPanel {
  background-color: #111;
}

/*
 * -- Ajax --------------------------------------------------------------------
*/
/* line 219, ../sass/theme-black.scss */
#ajaxFrame {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 223, ../sass/theme-black.scss */
#ajaxContent {
  border: #333;
  background-color: #111;
}

/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {
  /*
  * hide mobile menu
  */
  /* line 235, ../sass/theme-black.scss */
  .showMenuItem {
    background-color: transparent !important;
  }
}
/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {
  /*
  *  -- commom --------------------------------------------------------------
  */
  /* line 248, ../sass/theme-black.scss */
  .showMenuItem {
    background-color: none !important;
  }
}
