/*
 * - GLOBAL -------------------------------------------------------------------
*/

/* hacks for responsivity */


/*
 * - TOPBAR -------------------------------------------------------------------
*/


/*
 * - PANEL --------------------------------------------------------------------
*/
$panelWidth : 300px;

#panel {
  width : $panelWidth - 1;
}

#PanelMonthCal { 
  height: $panelWidth * 3 / 4;
}

/*
 * - CONTENT ------------------------------------------------------------------
*/
#content {
  left : $panelWidth;
}


/*
 * - DASHBOARD ----------------------------------------------------------------
*/


/* -- EOF -- */
