
/*
 * -- Forms -------------------------------------------------------------------
*/

/* asterisk after required field */
.required:after { content: "*" }















select {
//     // display : table;
//     height :   40px;
//     margin:    auto;
//     width:     100%;
//     box-sizing: content-box;
//
// // background-color: red;
//
//     -webkit-appearance: none;
}




.select-fancy {
  display: inline-block;
  border: 1px solid #e5e5e5;
  position: relative;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.4);

  &, > * {
    cursor: pointer;
  }

  select {
    @include box-sizing(content-box);

    background: transparent;
    border: 0;
    outline: 0;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
    padding: 6px 0 6px 8px;
    font-size: 12px;
    width: 120%;
    height: 17px;


    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;

    -webkit-appearance: none;
       -moz-appearance: radio-container;
            appearance: none;

  }
}

.select-fancy-image {
    background: url("http://css.yipitcdn.com/img/arrow-down.png") no-repeat right;
    @include background(url("http://css.yipitcdn.com/img/arrow-down.png") no-repeat center right, linear-gradient(#fff, #E7E7E7));
}


.select-fancy-noimage {
  @include background(linear-gradient(#fff, #E7E7E7));
  &:after {
    content: '';
    width: 0;
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 4px;
    border-style: solid;
    pointer-events: none;
    border-color: #656565 transparent transparent transparent;
  }
}






















select.agendaSwitch {
    width : 90%!important;
}

option {
    padding : 5px;
}

input {
    vertical-align: middle;
}


table.form {
    margin : auto;
    width : 100%;
    font-family: 'Muli',sans-serif;
    vertical-align : center;
}

table.form td {
    padding : 5px 0 10px;
    vertical-align : middle;
    text-align: center;
}

table.form label {
    width :    90%;
    margin : auto;
    height: 40px;
    line-height: 40px;
    display: block!important;
}

table.form label.hidden {
    height: 0px;
    line-height: 0px;
}

table.form .float2 label {
    width : 100%;
}

table.form th {
    text-align : center;
    font-size :    140%;
    height :       40px;
    line-height :  40px;
}

select, textarea, table.form input {
    display: inline-block;
    margin-bottom: 10px!important;
}

table.form input[type=text], table.form input[type=password], table.form input[type=email] {
    padding :       2px;
    width :         90%;
    margin :       auto;
    height :       40px;
    line-height : 40px;
    box-sizing: border-box;
}

table.form input[type=text].date {
    width :       130px;
    text-align : center;
    padding :         0!important;
    font-size: 70%;
}

table.form textarea {
    overflow: auto;
    resize: none;
    display : inline-block;
    vertical-align: middle;
    width: 90%;
    padding : 5px;
    margin: 5px 0!important;
    box-sizing: border-box;
}

table.form input[type=text],
table.form input[type=password],
table.form input[type=email],
table.form textarea,
table.form select {
    font-family: 'Varela Round',sans-serif;
    font-size : 90%;
    width:      90%;
}



#fos_user_profile_form_theme, #fos_user_profile_form_language {

    display : inline-block;
    width : auto!important;
}

#fos_user_profile_form_theme label, #fos_user_profile_form_language label {

    width : auto!important;
}

/* -- MIN WIDTH 400px ------------------------ */
@media screen and (min-width: 400px) {

    table.form input[type=text].date {
        width :   170px;
        font-size: 90%;
    }
}

/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {

    select, textarea, table.form input {
        display: inline-block;
        margin-bottom: auto!important;
    }

    table.form select {
        display : inline-block;;
        width: 30%;
    }

    table.form {
        // position : relative;
    }

    #ajaxContent table.form {
        // top : 0px;
    }

    table.form td {
        vertical-align : middle;
        text-align: left;
    }

    #actionButtons { text-align: center }

    table.form th {
        height : 50px;
        line-height : 50px;
    }

    table.form label {
        width : 30%!important;
        text-align : right;
        padding-right : 10px;
        display : inline-block!important;
        vertical-align: middle;
    }

    table.form .float2 label {
        width : auto!important;
    }


    table.form input[type=text],
    table.form input[type=password],
    table.form input[type=email],
    table.form textarea,
    table.form select {
        font-size :    100%;
        width:          40%;
        padding-left : 10px;
    }

}
