
/*
 * -- Forms -------------------------------------------------------------------
*/

/* asterisk after required field */
.required:after { content: "*" }

select {
    display : table;
    height :   40px;
    margin:    auto;
    width:      90%;
    box-sizing: border-box;
}

select.agendaSwitch { width : 100%!important; }

option {
    padding : 5px;
}

input {
    vertical-align: middle;
}


table.form {
    margin : auto;
    width : 100%;
    font-family: 'Muli',sans-serif;
    vertical-align : center;
}

table.form td {
    padding : 5px 0 10px;
    vertical-align : middle;
    text-align: center;
}

table.form label {
    width :    90%;
    margin : auto;
    height: 40px;
    line-height: 40px;
    display: block!important;
}

table.form label.hidden {
    height: 0px;
    line-height: 0px;
}

table.form .float2 label {
    width : 100%;
}

table.form th {
    text-align : center;
    font-size :    140%;
    height :       40px;
    line-height :  40px;
}

select, textarea, table.form input {
    display: inline-block;
    margin-bottom: 10px!important;
}

table.form input[type=text], table.form input[type=password], table.form input[type=email] {
    padding :       2px;
    width :         90%;
    margin :       auto;
    height :       40px;
    line-height : 40px;
    box-sizing: border-box;
}

table.form input[type=text].date {
    width :       130px;
    text-align : center;
    padding :         0!important;
    font-size: 70%;
}

table.form textarea {
    overflow: auto;
    resize: none;
    display : inline-block;
    vertical-align: middle;
    width: 90%;
    padding :       5px;
    box-sizing: border-box;
}

table.form input[type=text],
table.form input[type=password],
table.form input[type=email],
table.form textarea,
table.form select {
    font-family: 'Varela Round',sans-serif;
    font-size : 90%;
    width:      90%;
}



#fos_user_profile_form_theme, #fos_user_profile_form_language {

    display : inline-block;
    width : auto!important;
}

#fos_user_profile_form_theme label, #fos_user_profile_form_language label {

    width : auto!important;
}

/* -- MIN WIDTH 400px ------------------------ */
@media screen and (min-width: 400px) {

    table.form input[type=text].date {
        width :   170px;
        font-size: 90%;
    }
}

/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {

    select, textarea, table.form input {
        display: inline-block;
        margin-bottom: auto!important;
    }

    table.form select {
        display : inline-block;;
        width: 30%;
    }

    table.form {
        // position : relative;
    }

    #ajaxContent table.form {
        // top : 0px;
    }

    table.form td {
        vertical-align : middle;
        text-align: left;
    }

    #actionButtons { text-align: center }

    table.form th {
        height : 50px;
        line-height : 50px;
    }

    table.form label {
        width : 30%!important;
        text-align : right;
        padding-right : 10px;
        display : inline-block!important;
        vertical-align: middle;
    }

    table.form .float2 label {
        width : auto!important;
    }


    table.form input[type=text],
    table.form input[type=password],
    table.form input[type=email],
    table.form textarea,
    table.form select {
        font-size :    100%;
        width:          40%;
        padding-left : 10px;
    }

}
