@import "base";

$border-color : #666;
$displayLineHeigth : 40px;

/* panel */
#ttm_panel {
    font-family: 'Varela Round',sans-serif;
    border-right : 1px solid $border-color;
}

/* date display */
#dateDisplay {
    font-size:     90%;
    height :       $displayLineHeigth;
    line-height :  $displayLineHeigth;
    padding-left : 10px;
    background : rgba(0, 0, 0, .2)
}

#dateDisplay  span {

    display: inline-block;
    // width: 40px;
    height: 40px;
    float : right;
    padding-right : 5px;
    cursor: pointer;
}


#dateDisplay  span i {
    font-size: 26px;
}

/* panel header */
#ttm_panel h2 {
    font-size :    110%;
    height :       $displayLineHeigth;
    line-height :  $displayLineHeigth;
    padding-left : 20px;
    background : rgba(  0, 0, 0, .1);
}


#panelCalendarNav {
    margin-bottom : 3px;
}

#panelCalendarQuickNav {
    margin-bottom : 3px;
}


/*
 * -- controls ----------------------------------------------------------------
*/
.controls {
    font-size :     80%;
    text-align : center;
    background : rgba(255, 255, 255, .2)
}

.controls table {
    margin : auto;
    width :  auto;
}

.controls table td {
    height :           30px;
    vertical-align : middle;
}

.controls table td a {
    display : table-cell;
    width :         100%;
    height :        30px;
    line-height :   30px;
    padding :      0 5px;
}

.controls table td a:hover {
    background-color : rgba(0,0,0, .1);
}

.controls table td.secondary a {
    font-size : 90%;
    padding : 0 4px;
}

.controls table td.tertiary a {
    font-size : 80%;
    padding : 0 3px;
}

.controls table td.today {
    padding-right : 10px;
    width : auto;
}


/*
 * -- calendar ----------------------------------------------------------------
*/


#PanelMonthCal {

    margin : auto;
    border-collapse : separate;
    border-spacing :       1px;
}

#PanelMonthCal td {
    font-size :                80%;
    border-bottom : 1px solid #333;
    border-right :  1px solid #333;
    background :          $cell-bg;
    cursor : pointer;
}

#PanelMonthCal td a {
    text-decoration : none;
    display : inline-block;
    height : 100%;
    width : 100%;
}


#PanelMonthCal td.outOfMonth {
    color :                   #aaa;
    background : $inactive-cell-bg;
}

#PanelMonthCal td {
    font-size : 70%;
    width :  25px;
    height : 25px;
}

/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {

    #PanelMonthCal td {
        font-size : 70%;
        width :  25px;
        height : 25px;
    }

}

/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {

    #PanelMonthCal td {
        width :  35px;
        height : 35px;
    }
}
