
/*
 * - TOPBAR -------------------------------------------------------------------
*/
#ttm_topBar {
    font-family: 'Varela Round',sans-serif;
}

#ttm_topBarNav {
    float : left;
}

#ttm_topBarNav li {
    float : left;
}

#ttm_topBarNav a, #ttm_topBarAuth a {
    display : block;
    padding : 0 10px;
}

#ttm_topBarAuth {
    float : right;
}

#ttm_topBarAuth li {
    float : left;
}
