@import "base";

/*
 * -- common ------------------------------------------------------------------
*/

/* event link span */
#ttm_calendar a.event span {
    padding : 0 5px;
}

/*
 * -- month only --------------------------------------------------------------
*/

/* month cell header link */
#ttm_calendar th.monthHeaderContainer a {
    padding : 0 5px;
}

/* show hide events links */
a.moreLink, a.closeLink {
    font-size :              80%;
}

/* event link wrapper for month */
div.monthEvent {
    font-family: 'Muli',sans-serif;
    font-size: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*
 * -- day and week ------------------------------------------------------------
*/

/* events in day and week */
div.singleEvent {
    font-size: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* week */
table.timeLabel td {
    text-align :    right;
    padding-right :  10px;
    font-size: 80%;
}

td.times {
    width : 60px;
}

/*
 * -- week only ---------------------------------------------------------------
*/

/* week header cell */
#ttm_calendar td.weekHeader {
    font-size: 80%;
}
