.center {
    text-align : center;
}

.full-width {
    width : 100%;
}

.hcentered {
    margin : 0 auto;
}

$inputWidth : 200px;

.tableCell {
    display : table-cell;
    vertical-align : middle;
}

#ajaxFrame {
    border : 1px solid green; 
    position : absolute;
    top : 0; 
    left : 0; 
    width : 100%; 
    height : 100%; 
/*     background : rgba( 255,255,255,.6 ); */
    z-index : 0;
}

.required:after {
    content: "*";
}

table.form {
    width : 100%;
    margin : auto;
}
  
table.form label {
/*   @include debug(red); */
  display : block;
}
 
table.form td {
    padding-left : 5px;
    line-height : 30px;
/*     @include debug(white); */
}

input[type=text], table.form input[type=time] {
/*     float : left; */
    
    width : 150px;
    line-height : 30px;
    border : 1px solid #333;
/*     width : $inputWidth; */
}

table.form input[type=text].date {
    width : 100px;
}

table.form input[type=time] {
    width : 60px;
}

table.form textarea {
    height : 50px;
    line-height : 30px;
/*     width : $inputWidth; */
}

#ajaxContent h1, #content h1 {
    line-height : 30px;
    text-align : center;
/*     @include debug(white); */
}


#ajaxContent {
    border : 1px solid blue; 
    width : 400px; height : 600px; 
    position : absolute; 
    top : 50%; 
    left : 50%; 
    margin-top : -300px; 
    margin-left : -200px;
    color : black;
    background-color : rgba(255,255,255, .9);
    z-index : 10;
    @include border-radius(20px);
}

$login-size : 300px;
#login {
    display : table;
    position : absolute;
    top : 50%;
    left : 50%;
    width : $login-size;
    height : $login-size;
    margin : auto;
    margin-top : -$login-size / 2;
    margin-left : -$login-size / 2;
/*     @include debug(yellow); */
}

#login li {
/*     @include debug(red); */
    text-align : center;
    height : 50px;
    line-height : 50px;
}

#login input[type=text], #login input[type=password] {
    
    margin : 0;
    padding : 0;
    height : 40px;
    width : 280px;
    font-family: 'Varela Round',sans-serif;
    font-size : 120%;
}

#login input[type=submit] {
    width : 284px;
    height : 48px;
    padding : 0;
    color : #888;
    font-family: 'Varela Round',sans-serif;
    font-size : 150%;
    cursor : pointer;
}

#login input[type=submit]:hover {
    color : #666;
}

.loginLogo {
    background-image : url('/img/logo.png');
    background-repeat : no-repeat;
    background-position : center;
}

#topNav {
/*     @include debug(red); */
    float : left;
/*     height : 36px; */
}

#topNav li {
/*     @include debug(yellow); */
    float : left;
    border-right : 1px solid #666;
}



#topNav a, #auth a {
    text-decoration : none;
    display : block;
    padding : 0 10px;
}

#topNav a:hover, #auth a:hover {
    background-color : rgba(0,0,0, .1);
}

#auth {
    float : right;
}

#auth li {
    float : left;
    border-left : 1px solid #666;
}

.errorMsg {
    height : 100px;
    line-height : 34px;
    text-align : center;
    color : red;
    font-size : 200%;
    width : 280px;
    margin : auto;
    display : table;
}

.errorMsgWrapper {
    display : table-cell;
    vertical-align : middle;
}

.listContainer {
    margin : auto;
    width : 100%;
    @include debug(white);
    width : 100%;
}

.listContainer h1 {
    text-align : center;
    padding : 10px 0;
    font-size : 140%;
    @include debug(red);
}

.listContainer table {
/*     width : 100%; */
    margin : auto;
    @include debug();
}

.listContainer table tr {
    cursor : pointer;
    height : 40px;
}

.listContainer table tr:nth-child(odd) {background: rgba(255,255,255,.1)}

.listContainer table th {
    font-size : 120%;
}

.listContainer table td {
    padding : 0 10px;
}

.record_actions li {
    display : inline-block;
}

/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {

    table.form {
        width : 400px;
    }
    
    #ajaxContent h1, #content h1 {
        font-size : 140%;
        line-height : 50px;
    }
}

/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {

    .listContainer table tr {
        height : 50px;
    }
}

/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {


}