$inputWidth : 200px;

#ajaxFrame {
    border : 1px solid green; 
    position : absolute;
    top : 0; 
    left : 0; 
    width : 100%; 
    height : 100%; 
/*     background : rgba( 255,255,255,.6 ); */
    z-index : 0;
}

.required:after {
    content: "*";
}

table.form {
    width : 100%;
    margin : auto;
}
  
table.form label {
/*   @include debug(red); */
  display : block;
}
 
table.form td {
    padding-left : 5px;
    line-height : 30px;
    @include debug(white);
}

table.form input[type=text], table.form input[type=time] {
    float : left;
    line-height : 30px;
/*     width : $inputWidth; */
}

table.form input[type=text].date {
    width : 100px;
}

table.form input[type=time] {
    width : 60px;
}

table.form textarea {
    height : 50px;
    line-height : 30px;
/*     width : $inputWidth; */
}

#ajaxContent h1, #content h1 {
    line-height : 30px;
    text-align : center;
/*     @include debug(white); */
}


#ajaxContent {
    border : 1px solid blue; 
    width : 400px; height : 600px; 
    position : absolute; 
    top : 50%; 
    left : 50%; 
    margin-top : -300px; 
    margin-left : -200px;
    background-color : rgba(0, 0, 0, .6);
    z-index : 10;
    @include border-radius(20px);
}

$login-size : 300px;
#login {
    display : table;
    position : absolute;
    top : 50%;
    left : 50%;
    width : $login-size;
    height : $login-size;
    margin : auto;
    margin-top : -$login-size / 2;
    margin-left : -$login-size / 2;
/*     @include debug(yellow); */
}

#login li {
/*     @include debug(red); */
    text-align : center;
    height : 54px;
    line-height : 54px;
}

#login input[type=text], #login input[type=password] {
    
    margin : 0;
    padding : 0;
    height : 40px;
    width : 280px;
    font-family: 'Varela Round',sans-serif;
}

#login input[type=submit] {
    width : 284px;
    height : 48px;
    padding : 0;
}

#topNav {
    float : left;
}

#topNav li {
    float : left;
    border-right : 1px solid #666;
}



#topNav a {
    text-decoration : none;
    display : block;
    padding : 0 10px;
}

#topNav a:hover {
    background-color : rgba(0,0,0, .1);
}

#auth {

    float : right;
}


/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {

    table.form {
        width : 400px;
    }
    
    #ajaxContent h1, #content h1 {
        font-size : 140%;
        line-height : 50px;
    }
}

/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {

}

/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {


}