$inputWidth : 200px;

#ajaxFrame {
/*     border : 1px solid green;  */
    position : absolute; 
    top : 0; 
    left : 0; 
    width : 100%; 
    height : 100%; 
/*     background : rgba( 255,255,255,.6 ); */
    z-index : 0;
}

.required:after {
    content: "*";
}

table.form {
    width : 100%;
    margin : auto;
}
  
table.form label {
/*   @include debug(red); */
  display : block;
}
 
table.form td {
    padding-left : 5px;
    line-height : 30px;
    @include debug(white);
}

table.form input[type=text], table.form input[type=time] {
    float : left;
    line-height : 30px;
/*     width : $inputWidth; */
}

table.form input[type=text].date {
    width : 100px;
}

table.form input[type=time] {
    width : 60px;
}

table.form textarea {
    height : 50px;
    line-height : 30px;
/*     width : $inputWidth; */
}

#ajaxContent h1, #content h1 {
    line-height : 30px;
    text-align : center;
/*     @include debug(white); */
}


#ajaxContent {
    border : 1px solid blue; 
    width : 400px; height : 600px; 
    position : absolute; 
    top : 50%; 
    left : 50%; 
    margin-top : -300px; 
    margin-left : -200px;
    background-color : black;
    z-index : 10;
}

/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {


    table.form {
        width : 400px;
    }
    
    #ajaxContent h1, #content h1 {
        font-size : 140%;
        line-height : 50px;
    }
}

/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {

}

/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {


}