@import "base";

$cell-bg : rgba(255,255,255, .2);
$border-color : #333;
$inactive-cell-bg : rgba(0,0,0, .1);

#calendar {
    border-collapse : separate;
    height : 100%;
/*     border-spacing :       1px; */
}

#calendar td {
    vertical-align : top;
/*     padding :        3px; */
    border-bottom : 1px solid $border-color;
    border-right :  1px solid $border-color;
    background :          $cell-bg;
    height : 100%;
    cursor : pointer;
/*     overflow : hidden; */
/*   @include border-radius(6px); */
}

#calendar td.month {
    background : none;
/*     @include debug(red); */
}

#calendar td.outOfMonth { 
    color :                   #aaa;
    background : $inactive-cell-bg;
    cursor : default;
}

#calendar td.outOfMonth a {
    color : #ccc;    
}

#calendar a.inner {
    display : block;
    width : 100%;
    height : 100%;
/*     @include debug(red); */
}

#calendar a.inner:hover {
    background : rgba(0,0,0, .4);
}

#calendar a.inner span {
    display : block;
    padding : 0 5px;
/*     @include debug(red); */
}

#calendar a.monthEvent {
    display : block;
}


a.moreLink, a.closeLink {
    display : block;
    font-size : 80%;
    height : 19px;
    line-height : 19px;
    background : rgba(0,0,0, .6);
/*     @include debug(red); */
}

.monthEvent {
    height : 19px;
    line-height : 19px;
/*     border-bottom : 1px solid #333; */
    font-family: 'Muli',sans-serif;
    background : rgba(0,0,0, .2);
}


#calendar div.monthEvent:nth-child(even) {
   background : rgba(0,0,0, .3);
}

#calendar a.monthEvent:hover {
    background : rgba(0,0,0, .4);
/*     border-bottom : 1px solid  grey; */
}

/* tr:nth-child(even) */

#calendar a.monthHeader {
    display : block;
    padding : 0 5px;
}

#calendar .header {
    background : rgba(255,255,255, .1);
    height : 20px;
    line-height : 20px;
/*     @include debug(white); */
}



#calendar td.weekHeader {
    background : rgba(255,255,255, .1);
/*     @include debug(white); */
}

#calendar a.weekHeader {
    display : table;
    height : 100%;
    width : 100%;
}

#calendar a.weekHeader span {
    display: table-cell;
    vertical-align: middle;
}


#calendar a.cell { display : block; height : 100% }


#calendar .monthCell {
    
    width : 100%;
    height : 100%;
    margin : 0;
    padding : 0;
}

#calendar th.monthCellContent {
    background : $cell-bg;
}



/* week */
table.innerLabel td {
    text-align : right;
    padding-right : 10px;
}

