@import "base";

/* -- FONTS -- */
/* default font */
@import url(http://fonts.googleapis.com/css?family=Varela+Round|Muli);

/* -- default  colors-- */
$fg-color : white;
$bg-color : black;
$border-color : #666;

/*
 * - COMMON -------------------------------------------------------------------
*/
html, body {
    font-family: 'Varela Round',sans-serif;
}

body {
    color :            $fg-color;
    background-color : $bg-color;
    font-family: 'Varela Round',sans-serif;
    @include background-image(
        linear-gradient(
            top left,
                rgba( 25, 25, 25, 1 ),
                rgba(  0,  0,  0, 1)
        )
    );
}

body.green {
    @include background-image(
        linear-gradient(
            top left,
                rgba( 0, 102, 0, 1 ),
                rgba( 0,  51, 0, 1)
        )
    );
}

a { color : white; font-family: 'Varela Round',sans-serif; text-decoration : none; }


.align-center { text-align : center!important }
.full-width   { width : 100% }
.center       { margin : 0 auto }
.table        { display : table }
a.today        { background-color : #900 }

.tableCell {
    display : table-cell;
    vertical-align : middle!important;
}

.errorMsg {

    font-family : lucinda;
    text-align : center;
/*     color : red; */
    font-size : 160%;
    margin : auto;
    display : table;
    padding : 0 0 15px 0;
}

.listContainer tr td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listContainer tr td:first-child{
    width:1%;
}

.showForMediumTableCell {
    display: none;
}

/*
 * - FORMS --------------------------------------------------------------------
*/



#ajaxContent h1, #content h1 {
    line-height : 30px;
    text-align : center;
}

.formError {
    // height : auto!important;
    text-align: center;
    font-weight: bold;
    padding: 1em 0;
}

/*
 * - PANEL --------------------------------------------------------------------
*/
$panelWidth : 0;


/*
 *
 * - CONTENT ------------------------------------------------------------------
 *
 *
*/

button {
    vertical-align: middle;
    // padding: 0px 25px;
}

#contentWithPanel {
    font-family: 'Varela Round',sans-serif;
}


/* -- lists -- */
.listContainer {
    margin : auto;
    width : 100%;
    font-family : 'Muli', sans-serif;
/*     @include debug(white); */
}

.listContainer h1 {
    text-align : center;
    padding : 10px 0;
    font-size : 140%;
}

.listContainer table {
    width : 100%;
    margin : auto;
}

.listContainer table label {
    width :    100%;
    margin : 3px 0;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
}


#ajaxContent .listContainer table {
    margin : auto;
}


.listContainer table tr {
    // cursor : pointer;
    height : 40px;
}

.listContainer table tr:nth-child(odd) {background: rgba(255,255,255,.1)}

.listContainer table th {
    font-size : 120%;
}

.listContainer table td {
    padding : 0 10px;
}

.record_actions li {
    display : inline-block;
}


.records_list a:hover, button:hover {
    color : #333;
}

.records_list a.button, button {
    color : #666;
    height: 40px;
    padding : 0 15px;
    background: linear-gradient(to bottom, #fff 50%, #f3f3f3 50%);
    border : none;
    margin : auto;
    @include border-radius(4px);
    margin : 10px 0;
    font-family: 'Varela Round',sans-serif;
}

button, .records_list a.actionButton {
    padding : 0 25px;
}

.records_list span {
    display: inline-block;
    padding: 5px;
}


.records_list a.button {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

table.records_list tr:nth-child(even) { background: rgba(255,255,255,.1) }
table.records_list tr:nth-child(odd) { background: rgba(0,0,0,.1) }
table.records_list th {
    text-align : center;
    font-size :    140%;
    height :       40px;
    line-height :  40px;
}


/*
 * - TABLES -------------------------------------------------------------------
*/

div.float2 {
    float : left;
    width : 49%;
    text-align : center;
/*     @include debug(yellow); */
}

div.floatWrapper {
/*     @include debug(cyan); */
}

table.fixed {
    table-layout : fixed;
    width : 100%;
    height : 100%;
}





table.fullscreen {

/*     @include debug(white); */
}


/*
 * - DASHBOARD ----------------------------------------------------------------
*/
.dayHeader {

    background: rgba(0, 0, 0, 0.3);
    font-size: 120%;
}




#contactsWrapper label {
    display : none;
}


/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {

    #ajaxContent {
        max-width : 600px;
    }

    .showForMediumTableCell {
        display: table-cell!important;
    }

    .listContainer table label {
        width : 30%;
        text-align : right;
        padding-right : 10px;
        display : inline-block;
        vertical-align: middle;
    }

    table.fullscreen {
        width : 80%;
    }

    div.floatWrapper {

        margin : auto;
        width : 300px;
    }

    #ajaxContent h1, #content h1 {
        font-size : 140%;
        line-height : 50px;
    }

    #contactsWrapper label {
        display: inline-block;;
        opacity: 0;
    }
}


/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {

    .listContainer table {
        // width : 80%;
    }

    /*
    * hide mobile menu
    */
    .showMenuItem, {
        background-color: none!important;
        width: auto;
        display: inline!important;
    }

    .listContainer table tr {
        height : 50px;
    }

    .panelWrapper {
        width : 50%;
    }

    .panel {
        position : absolute;
        left :          2px;
    }

    table.fullscreen {
        width : 50%;
    }
}


/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {

    .listContainer table {
        margin : auto;
    }
}

.event-container{ position: relative; }
