
@import "base";

/* -- FONTS -- */
/* default font */
@import url(http://fonts.googleapis.com/css?family=Varela+Round|Muli);

/*
 * - COMMON -------------------------------------------------------------------
*/
html, body {
    font-family: 'Varela Round',sans-serif;
}

body {
    font-family: 'Varela Round',sans-serif;
}

a {
    font-family: 'Varela Round',sans-serif;
    text-decoration : none;
}


.align-center { text-align : center!important }
.full-width   { width : 100% }
.center       { margin : 0 auto }
.table        { display : table }


.tableCell {
    display : table-cell;
    vertical-align : middle!important;
}

.errorMsg {

    font-family : lucinda;
    text-align : center;
    font-size : 160%;
    margin : auto;
    display : table;
    padding : 0 0 15px 0;
}

.dashboardList tr td:first-child,
.contactList tr td:first-child  {
    width: 10%;
}

.showForMediumTableCell {
    display: none;
}

/*
 * - FORMS --------------------------------------------------------------------
*/



#ajaxContent h1, #content h1 {
    line-height : 30px;
    text-align : center;
}

.formError {
    text-align: center;
    font-weight: bold;
    padding: 1em 0;
}

/*
 * - PANEL --------------------------------------------------------------------
*/
$panelWidth : 0;


/*
 *
 * - CONTENT ------------------------------------------------------------------
 *
 *
*/

button {
    vertical-align: middle;
}

#contentWithPanel {
    font-family: 'Varela Round',sans-serif;
}






/*
*  listContainer
*  listContainer h1
*  listContainer table
*  listContainer table label
*  listContainer table tr
*  listContainer table td
*  listContainer table th
*
*/
// list container
div.listContainer {
    margin : auto;
    width : 100%;
    font-family : 'Muli', sans-serif;
}

// list header
.listContainer h1 {
    text-align : center;
    height: 50px;
    line-height: 50px;
    font-size : 140%;
}

.listContainer table {
    width : 100%;
    margin : auto;
}

.listContainer table.view tr td:nth-child(2) {
    font-size: 110%;
}


#ajaxContent .listContainer table {
    margin : auto;
}

.listContainer table label {
    width :    100%;
    margin : 3px 0;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
}


.listContainer table tr {
    height : 50px;
}

[data-href] {
    cursor: pointer;
}


.listContainer table th {
    font-size : 120%;
}


.listContainer .overflow tr td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listContainer table td {
    padding : 0 10px;
}

.record_actions li {
    display : inline-block;
}

.listContainer a.button, button {
    height: 40px;
    padding : 0 15px;
    border : none;
    margin : auto;
    @include border-radius(4px);
    margin : 10px 0;
    font-family: 'Varela Round',sans-serif;
}

button, .listContainer a.actionButton {
    padding : 0 25px;
}

.listContainer span {
    display: inline-block;
    padding: 5px;
}


.listContainer a.button {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}



/*
 * - TABLES -------------------------------------------------------------------
*/

div.float2 {
    float : left;
    width : 49%;
    text-align : center;
}

div.floatWrapper {

}

table.fixed {
    table-layout : fixed;
    width : 100%;
    height : 100%;
}


/*
 * - DASHBOARD ----------------------------------------------------------------
*/
.dayHeader {
    text-align: left!important;
    padding: 0 10px;
}




#contactsWrapper label {
    display : none!important;
}


/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {

    #ajaxContent {
        max-width : 600px;
    }

    .showForMediumTableCell {
        display: table-cell!important;
    }

    .listContainer table label {
        width : 30%;
        text-align : right;
        padding-right : 10px;
        display : inline-block;
        vertical-align: middle;
    }

    .listContainer table.view tr td:first-child {
        text-align: right;
    }

    .listContainer table.view td {
        width: 50%;
    }

    div.floatWrapper {

        margin : auto;
        width : 300px;
    }

    #ajaxContent h1, #content h1 {
        font-size : 140%;
        line-height : 50px;
    }

    #contactsWrapper label {
        display: inline-block!important;
        opacity: 0;
    }
}


/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {

    .listContainer table {
    }

    /*
    * hide mobile menu
    */
    .showMenuItem, {
        width: auto;
        display: inline!important;
    }


    .panelWrapper {
        width : 50%;
    }

    .panel {
        position : absolute;
        left :          2px;
    }
}


/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {

    .listContainer table {
        margin : auto;
    }
}

.event-container{ position: relative; }
