@import "base";

/* -- FONTS -- */
/* default font */
@import url(http://fonts.googleapis.com/css?family=Varela+Round|Muli);

/* -- default  colors-- */
$fg-color : white;
$bg-color : black;
$border-color : #666;

/*
 * - COMMON -------------------------------------------------------------------
*/
html, body {
    font-family: 'Varela Round',sans-serif;
}

body {
    color :            $fg-color; 
    background-color : $bg-color;
    font-family: 'Varela Round',sans-serif;
    @include background-image(
        linear-gradient(
            top left, 
                rgba( 25, 25, 25, 1 ), 
                rgba(  0,  0,  0, 1)
        )
    ); 
}

body.green {
    @include background-image(
        linear-gradient(
            top left, 
                rgba( 0, 102, 0, 1 ),
                rgba( 0,  51, 0, 1)
        )
    );
}

a { color : white; font-family: 'Varela Round',sans-serif; text-decoration : none; }


.align-center { text-align : center }
.full-width   { width : 100% }
.center       { margin : 0 auto }
.table        { display : table }
a.today        { background-color : #900 }

.tableCell {
    display : table-cell;
    vertical-align : middle!important;
}

.errorMsg {

    font-family : lucinda;
    text-align : center;
/*     color : red; */
    font-size : 160%;
    margin : auto;
    display : table;
    padding : 0 0 15px 0;
}

/*
 * - FORMS --------------------------------------------------------------------
*/
.required:after { content: "*" }


select {
    display : table;
    height : 40px;
}

option {
    padding : 5px;
}


/*
 * - AJAX ---------------------------------------------------------------------
*/
#ajaxFrame {
    position : absolute;
    display : table;
    top : 0; 
    left : 0; 
    width : 100%; 
    height : 100%; 
    z-index : 0;
    background-color : rgba(0,0,0, .7);
}

#ajaxContainer {
    border : 1px solid #ccc;
    display : table-cell;
    text-align : center;
    vertical-align : middle;
/*     z-index : 10; */
}

#ajaxContent {
    margin : auto;
    display : block;
    width : 100%;
    background-color : rgba(0, 102, 0, .8);
    z-index : 10;
    border : 1px solid #040;
    @include border-radius(10px);
}

#ajaxContent h1, #content h1 {
    line-height : 30px;
    text-align : center;
}


/*
 * - TOPBAR -------------------------------------------------------------------
*/
#topBar {
    border-bottom : 1px solid $bg-color;
    border-bottom : 1px solid $border-color;
    font-family: 'Varela Round',sans-serif;
}

#topNav {
    float : left;
}

#topNav li {
    float : left;
    border-right : 1px solid #666;
}

#topNav a, #auth a {
    display : block;
    padding : 0 10px;
}

#topNav a:hover, #auth a:hover {
    background-color : rgba(0,0,0, .1);
}

#auth {
    float : right;
}

#auth li {
    float : left;
    border-left : 1px solid #666;
}


/*
 * - PANEL --------------------------------------------------------------------
*/
$panelWidth : 0;


/*
 *
 * - CONTENT ------------------------------------------------------------------
 *
 *
*/

#contentWithPanel {
    font-family: 'Varela Round',sans-serif;
}


/* -- lists -- */
.listContainer {
    margin : auto;
    width : 100%;
    font-family : 'Muli', sans-serif;
/*     @include debug(white); */
}

.listContainer h1 {
    text-align : center;
    padding : 10px 0;
    font-size : 140%;
/*     @include debug(red); */
}

.listContainer table {
    width : 100%;
    margin : auto;
    @include debug(red);
}

#ajaxContent .listContainer table {
    margin : auto;
    @include debug(white);
}


.listContainer table tr {
    cursor : pointer;
    height : 40px;
}

.listContainer table tr:nth-child(odd) {background: rgba(255,255,255,.1)}

.listContainer table th {
    font-size : 120%;
}

.listContainer table td {
    padding : 0 10px;
}

.record_actions li {
    display : inline-block;
}


.records_list a:hover, button:hover {
    color : #333;
}

.records_list a.button, button {
    color : #666;
    height: 40px;
    padding : 0 15px;
    background: linear-gradient(to bottom, #fff 50%, #f3f3f3 50%);
    border : none;
    margin : auto;
    @include border-radius(4px);
    margin : 10px 0;
    font-family: 'Varela Round',sans-serif;
}

button {
    vertical-align: middle;
    padding: 0px 5px;
}

.records_list a.button {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


/*
 * - TABLES -------------------------------------------------------------------
*/
input {
    vertical-align: middle;
}

div.float2 {
    float : left;
    width : 49%;
    text-align : center;
/*     @include debug(yellow); */
}

div.floatWrapper {
/*     @include debug(cyan); */
}

table.fixed {
    table-layout : fixed;
    width : 100%;
    height : 100%;
}


table.form {
    margin : auto;
    width : 90%;
    font-family: 'Muli',sans-serif;
    vertical-align : center;
    @include box-shadow(
        rgba(255,255,255, .24) 5px 0px 5px -2px, 
        rgba(255,255,255, .4) -5px 0px 5px -2px,
        rgba(255,255,255, .4)  0px -5px 5px -2px,
        rgba(255,255,255, .4)  0px 5px 5px -2px
    );
    @include border-radius(10px);
}

table.form td {
    height : 60px;
}

table.form tr:nth-child(even) {
/*     height : 50px; */
    background: rgba(255,255,255,.1)
}

table.form tr:nth-child(odd) {
/*     height : 50px; */
    background: rgba(0,0,0,.1)
}


table.form label {
    position : relative;
    width : 30%;
    font-size : 100%;
    display : block;
    top : 0;
    margin : 3px 0;
/*     @include debug(yellow); */
}

table.form .float2 label {

    width : 100%;
/*     @include debug(red); */
}

table.form th {
    text-align : center;
    font-size : 140%;
    height : 40px;
    line-height : 40px;
}

table.form td {
    padding-left : 5px;
    vertical-align : middle;
}

table.form input[type=text] {
    font-size : 90%;
    padding : 2px;
    width : 90%;
    margin : auto;
/*     height : 20px; */
/*     line-height : 20px; */
    padding-left : 10px;
    @include border-radius(4px);
}

table.form input[type=text].date {
    width : 150px;
    text-align : center;
    padding : 0;
}


table.form textarea {
    margin : 10px 0;
    @include border-radius(4px);
}

table.form input[type=text], table.form textarea, table.form select {
/*     margin : 10px 0; */
    font-family: 'Varela Round',sans-serif;
}


table.fullscreen {

/*     @include debug(white); */
}


/*
 * - DASHBOARD ----------------------------------------------------------------
*/
.panelWrapper {
  position : relative;
  float :        left;
  width :        100%;
  height :        50%;
/*   @include debug(white) */
}

.panel {

  position : absolute;
  left :            0;
  right :           0;
  top :           2px;
  bottom :          0;
  background : rgba(255,255,255, .3);
}


/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {

    #ajaxContent {
        max-width : 600px;
    }

    table.form {
        position : relative;
        top : 50px;
        width : 100%;
        @include border-radius(10px);
    }

    #ajaxContent table.form {
        top : 0px;
    }

    table.form th {
        height : 50px;
        line-height : 50px;
    }

    table.form td {
        vertical-align : middle;
    }

    table.form label {
        text-align : right;
        padding-right : 10px;
        display : inline-block;
        vertical-align: middle;
    }
    
    table.form .float2 label {
    
        width : auto;
    }
    
    table.form textarea {
        display : inline-block;
        vertical-align: middle;
    }

    table.form input[type=text] {
        font-size : 90%;
        paddingleft : 10px;
        width : 90%;
        margin : auto;
        height : 30px;
        line-height : 30px;
    }

    table.form input[type=text], table.form textarea {
        width : 60%;
/*         padding : 10px 0 10px 10px; */
    }
    
    table.form select {
        display : inline-block;
/*         margin : auto; */
    }

    .listContainer table {
        width : 90%;
    }

    table.fullscreen {
        width : 80%;
    }

    div.floatWrapper {

        margin : auto;
        width : 300px;
    }

    #ajaxContent h1, #content h1 {
        font-size : 140%;
        line-height : 50px;
    }
}


/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {


    .listContainer table {
        width : 80%;
    }


    .listContainer table tr {
        height : 50px;
    }

    .panelWrapper {
        width : 50%;
    }

    .panel {
        position : absolute;
        left :          2px;
    }

    table.fullscreen {
        width : 50%;
    }
}


/* -- MIN WIDTH 1400px ------------------------ */
@media screen and (min-width: 1400px) {


    .listContainer table {
        width : 60%;
        margin : auto;
        @include debug(red);
    }
}





.event-container{ position: relative; }

.event {
    position: absolute;
    top: 0px;
    width: 100%;
    background : rgba(0,0,0, .2);
    z-index : 1;
}



#contactsWrapper {
/*     @include debug(yellow); */
    text-align : center;
}
