@import "base";

$login-size : 300px;
$line-height : 50px;

#login {

    position : absolute;
    top :  50%;
    left : 50%;
    width :  $login-size;
    height : $login-size;
    margin-top :  -$login-size / 2;
    margin-left : -$login-size / 2;
}

#login input[type=text], #login input[type=password], #login input[type=submit] {

    height : $line-height;
    width : 100%;
    margin : 0 0 5px;
    @include box-sizing(border-box);
}    

#login input[type=text], #login input[type=password] {
    padding-left : 10px;
}

#login input[type=submit] {
/*     color : #888; */
/*     font-family: 'Varela Round',sans-serif; */
    font-size : 150%;
    cursor : pointer;
}

#login input[type=submit]:hover {
/*     color : #333; */
}

#login li {
    text-align : center;
}

.loginLogo {
    height : $line-height;
/*     background-image : url('/img/logo.png'); */
/*     background-repeat : no-repeat; */
/*     background-position : center; */
}
