$bg-color : black;
$border-color : #666;

/*
 * - TOPBAR -------------------------------------------------------------------
*/
#ttm_topBar {
    border-bottom : 1px solid $bg-color;
    border-bottom : 1px solid $border-color;
    font-family: 'Varela Round',sans-serif;
}

#ttm_topBarNav {
    float : left;
}

#ttm_topBarNav li {
    float : left;
    border-right : 1px solid #666;
}

#ttm_topBarNav a, #ttm_topBarAuth a {
    display : block;
    padding : 0 10px;
}

#ttm_topBarNav a:hover, #ttm_topBarAuth a:hover {
    background-color : rgba(0,0,0, .1);
}

#ttm_topBarAuth {
    float : right;
}

#ttm_topBarAuth li {
    float : left;
    border-left : 1px solid #666;
}



/*
 * -- Forms -------------------------------------------------------------------
*/

/* asterisk after required field */
.required:after { content: "*" }


select {
    display : table;
    height :   40px;
}

option {
    padding : 5px;
}

input {
    vertical-align: middle;
}


table.form {
    margin : auto;
    width : 90%;
    font-family: 'Muli',sans-serif;
    vertical-align : center;
    @include box-shadow(
        rgba(255,255,255, .24) 5px 0px 5px -2px, 
        rgba(255,255,255, .4) -5px 0px 5px -2px,
        rgba(255,255,255, .4)  0px -5px 5px -2px,
        rgba(255,255,255, .4)  0px 5px 5px -2px
    );
    @include border-radius(10px);
}

table.form tr:nth-child(even) {
    background: rgba(255,255,255,.1)
}

table.form tr:nth-child(odd) {
    background: rgba(0,0,0,.1)
}

table.form td {
    height :           60px;
    padding-left :      5px;
    vertical-align : middle;
}

table.form label {
    width :    30%;
    margin : 3px 0;
}

table.form .float2 label {
    width : 100%;
}

table.form th {
    text-align : center;
    font-size :    140%;
    height :       40px;
    line-height :  40px;
}

table.form input[type=text] {
    font-size :     90%;
    padding :       2px;
    width :         90%;
    margin :       auto;
    padding-left : 10px;
    @include border-radius(4px);
}

table.form input[type=text].date {
    width :       150px;
    text-align : center;
    padding :         0;
}

table.form textarea {
    margin : 10px 0;
    @include border-radius(4px);
}

table.form input[type=text], table.form textarea, table.form select {
    font-family: 'Varela Round',sans-serif;
}


