@import "base";

/*
*  -- commom ------------------------------------------------------------------
*/
$fg-color:                   white;
$bg-color:                    #060;
$border-color:                #040;


$darken1:        rgba(0, 0, 0, .1);
$darken2:        rgba(0, 0, 0, .2);
$darken3:        rgba(0, 0, 0, .3);
$darken4:        rgba(0, 0, 0, .4);

$lighten1: rgba(255, 255, 255, .1);
$lighten2: rgba(255, 255, 255, .2);

$button-text:                 #666;
$button-text-hover:           #333;
$button-background: linear-gradient(to bottom, #eee 50%, #e3e3e3 50%);
$button-background-hover: linear-gradient(to bottom, #fff 50%, #f3f3f3 50%);

$today-color: #900;



body {
    color:            $fg-color;
    background-color: $bg-color;
    font-family: 'Varela Round',sans-serif;
}

a { color: $fg-color }

a.today { background-color: $today-color }

// list header
.listContainer h1 {
    background-color: #060!important;
    background: $darken3!important;
}

.listContainer table tr:nth-child(odd) {background: $lighten1}

.listContainer a.button, button {
    color: $button-text;
    background: $button-background;
}

.listContainer a.button:hover, button:hover {
    color: $button-text-hover;
    background: $button-background-hover;
}


/*
*  -- calendar -------------------------------------------------------------------
*/

/* calendar cell */
#ttm_calendar td {
    border-bottom: 1px solid $border-color;
    border-right:  1px solid $border-color;
}

/* month cell content */
#ttm_calendar th.monthCellContent {
    background-color: $lighten1;
}

/* event link hover */
#ttm_calendar a.event:hover {
    background-color: $darken4;
}

/* in month calendar cell */
#ttm_calendar td.month {
    background-color: none;
}

/* out of month calendar cell */
#ttm_calendar td.outOfMonth {
    background-color: $darken1;
}

/* month cell header */
#ttm_calendar th.monthHeaderContainer {
    background-color : $darken1;
}

#ttm_calendar th.monthHeaderContainer a:hover {
    background-color: $darken3;
}

/* event link wrapper for month */
div.monthEvent {
    background-color:   $darken1;
}

/* nth-style for above */
div.monthEvent:nth-child(even) {
   background-color: $lighten1;
}

/* show hide events links */
a.moreLink, a.closeLink {
    background-color: $darken4;
}

/* events in day and week */
div.singleEvent {
    background-color: $darken2;
}

/* week header cell */
#ttm_calendar td.weekHeader {
    background-color: $lighten1;
}

/*
*  -- panel -------------------------------------------------------------------
*/
#ttm_panel {
    font-family: 'Varela Round',sans-serif;
    border-right: 1px solid $border-color;
}

/* date display */
#dateDisplay {
    background-color: $darken3
}

/* panel header */
#ttm_panel h2 {
    background-color: $darken2;
}

#PanelMonthCal td.outOfMonth {
    background-color: $darken1;
}

.controls {
    background-color: $lighten2
}

.controls table td a:hover {
    background-color: $darken1;
}


#PanelMonthCal td {
    border-bottom: 1px solid $border-color;
    border-right:  1px solid $border-color;
    background-color:          $lighten2;
}


/*
*  -- topbar ------------------------------------------------------------------
*/
#ttm_topBar {
    border-bottom: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

#ttm_topBarNav li {
    border-right: 1px solid $border-color;
}

#ttm_topBarAuth li {
    border-left: 1px solid $border-color;
}

#ttm_topBarNav a:hover, #ttm_topBarAuth a:hover {
    background-color: $darken1;
}

.showMenuItem {
    background-color: $bg-color;
}

.showPanel {
    background-color: $bg-color;
}

/*
 * -- Ajax --------------------------------------------------------------------
*/
#ajaxFrame {
    background-color: rgba(0, 0, 0, .8);
}

#ajaxContent {
    border:           $border-color;
    background-color: $bg-color;
}


/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {

    /*
    * hide mobile menu
    */
    .showMenuItem, {
        background-color: transparent!important;
    }
}

/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {

    /*
    *  -- commom --------------------------------------------------------------
    */

    // hide mobile menu
    .showMenuItem, {
        background-color: none!important;
    }

}
