@import 'base';

//
//  -- commom ------------------------------------------------------------------
//
$fg-color:             #111;
$bg-color:             #fff;
$border-color:         #ddd;

$darken1: rgba(0, 0, 0, .1);
$darken2: rgba(0, 0, 0, .2);
$darken3: rgba(0, 0, 0, .3);
$darken4: rgba(0, 0, 0, .4);

$button-text:          #666;
$button-text-hover:    #eee;
$button-background: linear-gradient(to bottom, #fff 50%, #f3f3f3 50%);
$button-background-hover: linear-gradient(to bottom, #aaa 50%, #999 50%);

$today-fg-color:       #eee;
$today-bg-color:       #900;

$ajaxframe-bg: rgba(0, 0, 0, .8);


body {
    color:            $fg-color;
    background-color: $bg-color;
    font-family: 'Varela Round',sans-serif;
}

a { color: $fg-color }

a.today {
    color:            $today-fg-color;
    background-color: $today-bg-color
}

// list header
.listContainer h1 {
    background-color: $darken3!important;
}


.listContainer table tr:hover {
    background-color: $darken2;
}

.listContainer table tr:nth-child(odd) {
    background-color: $darken1;
}

.listContainer table tr:nth-child(odd):hover {
    background: $darken2;
}

.listContainer table tr.tableHeader {
    background-color: $darken4;
}

.listContainer table tr.tableHeader:hover {
    background-color: $darken4;
}


// list buttons
.listContainer a.button, button {
    color: $button-text;
    background: $button-background;
}

.listContainer a.button:hover, button:hover {
    color: $button-text-hover;
    background:  $button-background-hover;
}


/*
*  -- calendar -------------------------------------------------------------------
*/

/* calendar cell */
#ttm_calendar td {
    border-bottom: 1px solid $border-color;
    border-right:  1px solid $border-color;
}

/* event link hover */
#ttm_calendar a.event:hover {
    background-color: $darken4;
}

/* in month calendar cell */
#ttm_calendar td.month {
    background-color: none;
}

/* out of month calendar cell */
#ttm_calendar td.outOfMonth {
    background-color: $darken1;
}

/* month cell header */
#ttm_calendar th.monthHeaderContainer {
    background-color : $darken1;
}

#ttm_calendar th.monthHeaderContainer a:hover {
    background-color: $darken4;
}

/* event link wrapper for month */
div.monthEvent {
    background-color:   $darken2;
}

/* nth-style for above */
div.monthEvent:nth-child(even) {
   background-color: $darken1;
}

/* show hide events links */
a.moreLink, a.closeLink {
    background-color: $darken4;
}

/* events in day and week */
div.singleEvent {
    background-color: rgba(0 ,0, 0, .1);
}

/* week header cell */
#ttm_calendar td.weekHeader {
    background-color: $darken1;
}

/*
*  -- panel -------------------------------------------------------------------
*/
#ttm_panel {
    font-family: 'Varela Round',sans-serif;
    border-right: 1px solid $border-color;
}

/* date display */
#dateDisplay {
    background-color: $darken3;
}

/* panel header */
#ttm_panel h2 {
    background-color: $darken2;
}

.controls {
    background-color: $darken1;
}

.controls table td a:hover {
    background-color: $darken1;
}

/* month cell */
#PanelMonthCal td {
    border-bottom: 1px solid $border-color;
    border-right:  1px solid $border-color;
    background-color:             $darken2;
}

/* out of month cell */
#PanelMonthCal td.outOfMonth {
    background-color: $darken1;
}

/* separator */
#panelCalendarNav {
    border-bottom: 1px solid $border-color;
}


/*
*  -- topbar ------------------------------------------------------------------
*/
#ttm_topBar {
    border-bottom: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

#ttm_topBarNav li {
    border-right: 1px solid $border-color;
}

#ttm_topBarAuth li {
    border-left: 1px solid $border-color;
}

#ttm_topBarNav a:hover, #ttm_topBarAuth a:hover {
    background-color: $darken1;
}

.showMenuItem {
    background-color: $bg-color;
}

.showPanel {
    background-color: $bg-color;
}

/*
 * -- Ajax --------------------------------------------------------------------
*/
#ajaxFrame {
    background-color: $ajaxframe-bg;
}

#ajaxContent {
    border:       $border-color;
    background-color: $bg-color;
}


/* -- MIN WIDTH 700px ------------------------ */
@media screen and (min-width: 700px) {

    /*
    * hide mobile menu
    */
    .showMenuItem, {
        background-color: transparent!important;
    }
}

/* -- MIN WIDTH 1000px ------------------------ */
@media screen and (min-width: 1000px) {

    /*
    *  -- commom --------------------------------------------------------------
    */

    // hide mobile menu
    .showMenuItem, {
        background-color: none!important;
    }

}
