{# src/Lookin2/CalendarBundle/Resources/views/Default/calendarContent.html.twig #}
<section id="panel">

	{% include 'Lookin2CalendarBundle:Default:panelCalendar.html.twig' 
		with {
			'days'         : days,
			'PrevYearUrl'  : PrevYearUrl,
			'PrevMonthUrl' : PrevMonthUrl,
			'CurrentMonth' : CurrentMonth,
			'NextMonthUrl' : NextMonthUrl,
			'NextYearUrl'  : NextYearUrl,
		} 
	%}
</section>

<section id="content" class="{% block contentClass %}{% endblock %}">
	{% include 'Lookin2CalendarBundle:Default:contentCalendar.html.twig' 
		with {
			'days'         : days,
			'PrevYearUrl'  : PrevYearUrl,
			'PrevMonthUrl' : PrevMonthUrl,
			'CurrentMonth' : CurrentMonth,
			'NextMonthUrl' : NextMonthUrl,
			'NextYearUrl'  : NextYearUrl,
		} 
	%}
</section>