{# src/TimeTM/CalendarBundle/Resources/views/Dashboard/container.html.twig #}

{% include 'TimeTMCoreBundle:Calendar:Month/monthPanel.html.twig' %}

<section id="ttm_contentWithPanel" class="{% block contentClass %}{% endblock %}">
	{% include 'TimeTMCoreBundle:Dashboard:' ~ template ~ '.html.twig' %}
</section>
